html,body{font-family:Georgia, Times, "Times New Roman", serif;font-size:100%;line-height:1.375em;height:100%;color:#222;}
html{overflow-y:scroll;}
p{margin:1em 0;}
h1, h2, h3, h4, h5, h6{font-weight:bold;margin:10px 0;}
h1 { font-size:2.25em;line-height:1.75em;}
h2 { font-size:1.5em;line-height:1.5em;}
h3 { font-size:1.125em; line-height:1.125em;}
h4 { font-size:0.875em; line-height:0.875em}
strong, label{font-weight:bold;}
em{font-style:italic;}

.sidebar h3 { font-size:1.125em; }
.content p  { font-size:1em; }
.sidebar p  { font-size:.875em; }
#logged p {margin-top:5px; color:#FFF;}
#logged a{color:#FFF;}


.footer a{color:#fff;text-decoration:underline;}

.container{width:980px;margin: 0 auto;}
.sidebar{float:right;width:250px;padding:20px 0;margin-top:45px;}
.content{float:left;width:720px;padding:20px 0;margin-top:45px;}
.header{width:980px;background: url(../images/headersmall.jpg);height:216px;color:#fff;position:relative;top:45px;}
.header a{color:#fff;}
.footer{height:50px;text-align:center;font-size:0.75em;background-color:#000;color:#FFF;padding-top:4px;}

.left{float:left;}
.right{float:right;}
.clear{clear:both;}

.rounded {border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; behavior:url(../PIE.htc);}
.rounded-light {border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; behavior:url(../PIE.htc);}
.main-box {width:675px;border: solid 1px #ccc; padding: 15px;margin-bottom:15px;}
.main-box p{margin:0;}
.side-box {width:218px;border: solid 1px #ccc; padding: 15px;margin-bottom:15px;}
.side-box p{margin:0;}
.content-full {width: 100% !important;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; }/******Form Errors******/
.form_errors {color:#FF0000; margin:0 0 8px 45px;}
.form_errors span:before {content:"* ";}
.links{padding:5px;}
.links a{text-decoration:none;padding:0 5px;}

.thumbs{ border:solid 2px #CCC; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; behavior:url(../PIE.htc); padding:5px; min-width:150px; min-height:150px;float:left;margin:5px;text-align:center;}
/*Special formatting
================================================== */
.top{margin-top:0;padding-top:0;}
.bottom{margin-bottom:0;padding-bottom:0;}
.center{text-align:center;}
.sysMessage{width:956px;background-color:#DFF2BF;color:#4F8A10;font-size:16px;padding:7px 10px 8px 10px;margin: 55px 0 -45px 0 ;border:2px #74863D solid;}
.sysError{width:956px;background-color:#FFBABA;color:#CC0000;font-size:16px;padding:7px 10px 8px 10px;margin: 55px 0 -45px 0;border:2px #800000 solid;}
#logged{padding:5px 25px;}
.logo{position:absolute;font-size:52px;bottom:15px;left:15px;height:30px;font-weight:bold;text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,1px 1px 0 #000;}
.logo a{text-decoration:none;}
.small{font-size:0.85em !important;}
/*Stick Footer
================================================== */
.wrapper{min-height:100%;height: auto !important; height:100%; margin-bottom:-54px;}
.push{height:54px; clear:both;}


/*Tables
================================================== */
.tableClass {width:100%;margin-bottom:20px;}
.tableClass th{font-weight:bold;border:1px solid #888;padding:4px;}
.tableClass td{border-bottom:1px solid #DDD;padding:4px;}

/*Slider
================================================== */
#home-slider-container {width: 720px; padding: 0;}
#home-slider { height:300px; position:relative; padding: 0; margin: 0; width: 720px;}
#home-slider ul.slides {list-style: none; padding: 0; margin: 0;}
#home-slider ul.slides li {display:none; list-style: none; padding: 0; margin: 0;}
#home-slider ul.slides li img {width: 707px; height: 298px; border: solid 3px #ccc; padding: 0;} 
#home-slider ul.slides li div {width: 657px; height: 268px; border: solid 1px #ccc; padding:15px 25px;} 
	
#home-slider .flex-control-nav { position:absolute; right: 15px; top: 260px; }
#home-slider .flex-control-nav li { float:left; margin: 0 0 0 0; padding: 0; list-style: none;}
#home-slider .flex-control-nav li a { display:block; width:16px; height:16px; background:url(../images/dots.png) no-repeat -24px 0; text-indent:-9999px; cursor:pointer; }
#home-slider .flex-control-nav li a.active { background:url(../images/dots.png) no-repeat; }
#home-slider .flex-direction-nav { display:none; }
#home-slider ul.slides{color:#fff;}
#home-slider ul.slides a{color:#fff;text-decoration:underline;}
		 
#mainnav {background:#333;height: 45px;letter-spacing:1px;position:fixed;top:0;z-index:1000;margin:0 auto;width:100%}
#mainnav ul {}
#mainnav ul li {float: left; position: relative;z-index:10;display:block;min-width:125px;text-align:center;}
#mainnav ul li a {line-height: 45px; padding: 0 21px; color: #fff; font-size: 18px; font-weight: bold; text-decoration: none;display:block;}
#mainnav ul li.first {}
#mainnav ul li:hover {background:#06761e }
#mainnav ul li.active {background:#666;font-style:italic;}

#mainnav ul ul { display:none; position: absolute; top: 45px; background: #06761e; }
#mainnav ul ul li {border: none;display:block;width:100%;text-align:left;width:250px;padding:0 0;}
#mainnav ul ul li a {line-height: 45px; color: #fff; font-size: 16px; font-weight: bold; padding: 0 21px; display:block;border-bottom:2px solid #fff;}
#mainnav ul ul li a.last {border-bottom:none;}
#mainnav ul ul li:hover {background: #333;} 
#mainnav ul li:hover > ul {display: block;}

#mainnav ul ul ul { display:none; position: absolute; top: 0; left: 100%; background: #B50E0E;}
#mainnav ul ul ul li {border: none;  width: 250px;}
#mainnav ul ul ul li a {line-height: 45px;color: #fff; font-size: 16px;  padding: 0 10px;display:block;}
#mainnav ul ul ul li:hover {background: #333;} 

/*Forms
================================================== */
input[type="text"],input[type="password"]{border: solid 1px #ccc; padding: 4px; }
select{border: solid 1px #ccc; padding: 4px; }
textarea{border: solid 1px #ccc; padding: 4px;margin-top:2px; }
.formClass input[type="text"]{width:400px;}
.formClass label{width:100px;display:inline-block;font-weight:bold;}
.formClass textarea{width:400px;height:250px;}
.textareabox *{vertical-align:top;}
.searchForm input[type="text"]{width:200px;}
.searchForm label{width:100px;display:inline-block;font-weight:bold;}
.searchForm select{width:210px;}.createForm input[type="text"]{width:200px;margin-bottom:10px;}.createForm input[type="password"]{width:200px;}.createForm label{width:150px;display:inline-block;font-weight:bold;}.createForm select{width:210px;}
.button {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #35c153), color-stop(1, #198736) );	background:-moz-linear-gradient( center top, #35c153 5%, #198736 100% );	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#35c153', endColorstr='#198736');
	background-color:#35c153;	-moz-border-radius:5px;	-webkit-border-radius:5px;	border-radius:5px;	display:inline-block;	color:#ffffff;	font-size:15px;	font-weight:normal;text-transform:uppercase;	padding:6px 24px; margin-top:10px;	text-decoration:none;	border:none;cursor:pointer;font-family:Georgia, Times, "Times New Roman", serif;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #198736), color-stop(1, #35c153) );	background:-moz-linear-gradient( center top, #198736 5%, #35c153 100% );	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#198736', endColorstr='#35c153');	background-color:#198736;
}.button:active {
	position:relative;	top:1px;
}

/******Form Errors******/
.form_errors {color:#FF0000; margin:0 0 8px 45px;}
.form_errors span:before {content:"* ";}