	<tr>
		<th colspan="2" valign="middle">{L_CONFIRM_QUESTION}</th>
	</tr>
	<tr>
		<td class="row1"><b class="genmed">{QA_CONFIRM_QUESTION}:</b><br /><span class="gensmall">{L_CONFIRM_QUESTION_EXPLAIN}</span></td>
		<td class="row1"><input class="post" type="text" name="qa_answer" size="80" /></td>
		<input type="hidden" name="qa_confirm_id" id="confirm_id" value="{QA_CONFIRM_ID}" /></td>
	</tr>
