
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="18" height="18"><img src="{T_THEME_PATH}/images/tl.png" width="18" height="18" alt="" /></td>
    <td height="18" style="background:url('{T_THEME_PATH}/images/tm.png');"></td>
    <td width="18" height="18"><img src="{T_THEME_PATH}/images/tr.png" width="18" height="18" alt="" /></td>
  </tr>
  <tr>
    <td width="18" style="background:url('{T_THEME_PATH}/images/ml.png');"></td>
    <td>

<!-- BEGIN forumrow -->
	<!-- IF (forumrow.S_IS_CAT and not forumrow.S_FIRST_ROW) or forumrow.S_NO_CAT -->
		</table>
        </div>

</td>
    <td width="18" style="background:url('{T_THEME_PATH}/images/mr.png');"></td>
  </tr>
  <tr>
    <td width="18" height="18"><img src="{T_THEME_PATH}/images/bl.png" width="18" height="18" alt="" /></td>
    <td height="18" style="background:url('{T_THEME_PATH}/images/bm.png');"></td>
    <td width="18" height="18"><img src="{T_THEME_PATH}/images/br.png" width="18" height="18" alt="" /></td>
  </tr>
</table>

<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="18" height="18"><img src="{T_THEME_PATH}/images/tl.png" width="18" height="18" alt="" /></td>
    <td height="18" style="background:url('{T_THEME_PATH}/images/tm.png');"></td>
    <td width="18" height="18"><img src="{T_THEME_PATH}/images/tr.png" width="18" height="18" alt="" /></td>
  </tr>
  <tr>
    <td width="18" style="background:url('{T_THEME_PATH}/images/ml.png');"></td>
    <td>
	<!-- ENDIF -->

	<!-- IF forumrow.S_IS_CAT or forumrow.S_FIRST_ROW or forumrow.S_NO_CAT -->
    	<table width="100%" cellspacing="0">
		<tr>
			<td class="cat" align="left" height="24"><!-- IF forumrow.S_IS_CAT --><h4><a class="genmedw" href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a></h4><!-- ELSE --><h4>{L_FORUM}</h4><!-- ENDIF --></td>
            <td class="cat" width="14" height="24"><a href="#" onclick="layerTest('expand{forumrow.FORUM_ID}')"><img src="{T_THEME_PATH}/images/expand.gif" width="17" height="16" alt="" /></a></td>
		</tr>
		</table>
        <div id="expand{forumrow.FORUM_ID}">
		<table class="forums" cellspacing="0" width="100%">
		<tr>
			<td class="row3h" colspan="2">&nbsp;{L_FORUM}&nbsp;</td>
			<td class="row3h" align="center" width="50">&nbsp;{L_TOPICS}&nbsp;</td>
			<td class="row3h" align="center" width="50">&nbsp;{L_POSTS}&nbsp;</td>
			<td class="row3h" align="center" width="175">&nbsp;{L_LAST_POST}&nbsp;</td>
		</tr>
	<!-- ENDIF -->
	
	<!-- IF not forumrow.S_IS_CAT -->
		<!-- IF forumrow.S_IS_LINK -->
			<tr>
				<td class="forumrow" width="31" align="center">{forumrow.FORUM_FOLDER_IMG}</td>
				<td class="row1h">
					<!-- IF forumrow.FORUM_IMAGE -->
						<table border="0" cellspacing="0" cellpadding="0" width="100%"><tr><td valign="middle" style="padding-{S_CONTENT_FLOW_END}: 5px;">{forumrow.FORUM_IMAGE}</td><td width="100%" valign="middle">
					<!-- ENDIF -->
					<a class="forumlink" href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a>
					<p class="forumdesc">{forumrow.FORUM_DESC}</p>
					<!-- IF forumrow.FORUM_IMAGE --></td></tr></table><!-- ENDIF -->
				</td>
				<!-- IF forumrow.CLICKS -->
					<td class="forumrow" colspan="3" align="center"><span class="genmed">{L_REDIRECTS}: {forumrow.CLICKS}</span></td>
				<!-- ELSE -->
					<td class="forumrow" colspan="3" align="center">&nbsp;</td>
				<!-- ENDIF -->
			</tr>
		<!-- ELSE -->
		<tr>
			<td class="forumrow" width="31" align="center">{forumrow.FORUM_FOLDER_IMG}</td>
			<td class="row1h" width="70%">
				<!-- IF forumrow.FORUM_IMAGE -->
					<table border="0" cellspacing="0" cellpadding="0" width="100%"><tr><td valign="middle" style="padding-{S_CONTENT_FLOW_END}: 5px;">{forumrow.FORUM_IMAGE}</td><td width="100%" valign="middle">
				<!-- ENDIF -->
				<a class="forumlink<!-- IF forumrow.S_UNREAD_FORUM --> link-new<!-- ENDIF -->" href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a>
				<p class="forumdesc">{forumrow.FORUM_DESC}</p>
				<!-- IF forumrow.MODERATORS -->
					<p class="gensmall"><strong>{forumrow.L_MODERATOR_STR}:</strong> {forumrow.MODERATORS}</p>
				<!-- ENDIF -->
				<!-- IF forumrow.SUBFORUMS and forumrow.S_LIST_SUBFORUMS -->
					<p class="gensmall"><strong>{forumrow.L_SUBFORUM_STR}</strong> {forumrow.SUBFORUMS}</p>
				<!-- ENDIF -->
				<!-- IF forumrow.FORUM_IMAGE --></td></tr></table><!-- ENDIF -->
			</td>
			<td class="forumrow" width="5%" align="center"><p class="topicdetails">{forumrow.TOPICS}</p></td>
			<td class="forumrow" width="5%" align="center"><p class="topicdetails">{forumrow.POSTS}</p></td>
			<td class="forumrow" width="20%" align="center" nowrap="nowrap">
				<!-- IF forumrow.LAST_POST_TIME -->
					<p class="topicdetails"><!-- IF forumrow.U_UNAPPROVED_TOPICS --><a href="{forumrow.U_UNAPPROVED_TOPICS}">{UNAPPROVED_IMG}</a>&nbsp;<!-- ENDIF -->{forumrow.LAST_POST_TIME}</p>
					<p class="topicdetails">{forumrow.LAST_POSTER_FULL}
						<!-- IF not S_IS_BOT --><a href="{forumrow.U_LAST_POST}">{LAST_POST_IMG}</a><!-- ENDIF -->
					</p>
				<!-- ELSE -->
					<p class="topicdetails">{L_NO_POSTS}</p>
				<!-- ENDIF -->
			</td>
		</tr>
		<!-- ENDIF -->
	<!-- ENDIF -->
	<!-- IF forumrow.S_LAST_ROW -->
		</table>
        </div>
	<!-- ENDIF -->
<!-- BEGINELSE -->

<table class="tablebg" cellspacing="0" width="100%">
<tr>
	<td class="row1" colspan="5" align="center" style="padding: 25px 5px;"><p class="gensmall">{L_NO_FORUMS}</p></td>
</tr>
</table>
<!-- END forumrow -->

</td>
    <td width="18" style="background:url('{T_THEME_PATH}/images/mr.png');"></td>
  </tr>
  <tr>
    <td width="18" height="18"><img src="{T_THEME_PATH}/images/bl.png" width="18" height="18" alt="" /></td>
    <td height="18" style="background:url('{T_THEME_PATH}/images/bm.png');"></td>
    <td width="18" height="18"><img src="{T_THEME_PATH}/images/br.png" width="18" height="18" alt="" /></td>
  </tr>
</table>

<div class="genspace">
<!-- IF not S_IS_BOT or U_TEAM -->
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="50%">
    <!-- IF not S_IS_BOT or U_TEAM -->
	<!-- IF not S_IS_BOT --><a href="{U_DELETE_COOKIES}">{L_DELETE_COOKIES}</a><!-- ENDIF --><!-- IF not S_IS_BOT and U_TEAM --> | <!-- ENDIF --><!-- IF U_TEAM --><a href="{U_TEAM}">{L_THE_TEAM}</a><!-- ENDIF -->
	<!-- ENDIF -->
    </td>
    <td width="50%" align="right">
    <!-- IF not S_IS_BOT and U_MARK_FORUMS --><span class="gensmall" align="{S_CONTENT_FLOW_END}"><a href="{U_MARK_FORUMS}">{L_MARK_FORUMS_READ}</a></span><!-- ENDIF -->
    </td>
  </tr>
</table>
<!-- ENDIF -->
</div>