<!-- INCLUDE overall_header.html -->

<div id="pagecontent">

	<form name="login_forum" method="post" action="{S_LOGIN_ACTION}">
	<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="18" height="18"><img src="{T_THEME_PATH}/images/tl.png" width="18" height="18" alt="" /></td>
    <td height="18" style="background:url('{T_THEME_PATH}/images/tm.png');"></td>
    <td width="18" height="18"><img src="{T_THEME_PATH}/images/tr.png" width="18" height="18" alt="" /></td>
  </tr>
  <tr>
    <td width="18" style="background:url('{T_THEME_PATH}/images/ml.png');"></td>
    <td>
	<table class="tablebg" width="100%" cellspacing="0" align="center">
	<tr> 
		<th>{L_LOGIN}</th>
	</tr>
	<tr>
		<td class="row3h" align="center"><span class="gensmall">{L_LOGIN_FORUM}</span></td>
	</tr>
	<tr> 
		<td class="row1" align="center">
		
			<table cellspacing="0" cellpadding="4" border="0">
			<!-- IF LOGIN_ERROR -->
				<tr>
					<td class="gensmall" colspan="2" align="center"><span class="error">{LOGIN_ERROR}</span></td>
				</tr>
			<!-- ENDIF -->
			<tr> 
				<td class="row1"><span class="gensmall"><b>{L_PASSWORD}:</b></span></td>
				<td class="row1"><input class="post" type="password" name="password" size="25" tabindex="2" /></td>
			</tr>
			</table>
		</td>
	</tr>
	<tr> 
		<td class="catb" colspan="2" align="center">{S_HIDDEN_FIELDS}<input type="submit" name="login" class="btnmain" value="{L_LOGIN}" tabindex="3" /></td>
	</tr>
	</table>
    	</td>
    <td width="18" style="background:url('{T_THEME_PATH}/images/mr.png');"></td>
  </tr>
  <tr>
    <td width="18" height="18"><img src="{T_THEME_PATH}/images/bl.png" width="18" height="18" alt="" /></td>
    <td height="18" style="background:url('{T_THEME_PATH}/images/bm.png');"></td>
    <td width="18" height="18"><img src="{T_THEME_PATH}/images/br.png" width="18" height="18" alt="" /></td>
  </tr>
</table>
	{S_FORM_TOKEN}
    {S_LOGIN_REDIRECT}
	</form>

</div>

<br clear="all" />

<!-- INCLUDE breadcrumbs.html -->

<br clear="all" />

<div align="{S_CONTENT_FLOW_END}"><!-- INCLUDE jumpbox.html --></div>

<!-- INCLUDE overall_footer.html -->