<!-- INCLUDE mcp_header.html -->

<form method="post" name="mcp" action="{S_MCP_ACTION}">
<table class="tablebg" width="100%" cellspacing="0" cellpadding="2" border="0">
<tr>
	<th colspan="<!-- IF S_TOPIC_ID -->4<!-- ELSE -->5<!-- ENDIF -->" nowrap="nowrap">{L_DISPLAY_OPTIONS}</th>
</tr>
<tr>
	<td colspan="<!-- IF S_TOPIC_ID -->4<!-- ELSE -->5<!-- ENDIF -->" class="cat" align="center"><span class="gensmall">{L_DISPLAY_LOG}:</span> {S_SELECT_SORT_DAYS}&nbsp;<span class="gensmall">{L_SORT_BY}</span> {S_SELECT_SORT_KEY} {S_SELECT_SORT_DIR}&nbsp;<input class="btnlite" type="submit" name="sort" value="{L_GO}" /></span></td>
</tr>
<tr>
	<th width="15%" nowrap="nowrap">{L_USERNAME}</th>
	<th width="12%" nowrap="nowrap">{L_IP}</th>
	<th width="18%" nowrap="nowrap">{L_TIME}</th>
	<th width="45%" nowrap="nowrap">{L_ACTION}</th>
	<!-- IF not S_TOPIC_ID -->
		<th width="8%" nowrap="nowrap"></th>
	<!-- ENDIF -->
</tr>
<!-- IF S_TOPIC_ID -->
	<tr>
		<td class="row3" colspan="5"><span class="gensmall">{L_LOGS_CURRENT_TOPIC} <a href="{U_VIEW_TOPIC}"><b>{TOPIC_NAME}</b></a></span></td>
	</tr>
<!-- ENDIF -->
<!-- BEGIN log -->
	<tr>
		<td class="row1" nowrap="nowrap"><span class="gen">{log.USERNAME}</span></td>
		<td class="row1" align="center" nowrap="nowrap"><span class="gen">{log.IP}</span></td>
		<td class="row1" align="center" nowrap="nowrap"><span class="gensmall">{log.TIME}</span></td>
		<td class="row1"><span class="gen">{log.ACTION}</span></td>
		<!-- IF not S_TOPIC_ID -->
		<td class="row1" align="center" nowrap="nowrap"><span class="gensmall"><!-- IF log.U_VIEW_TOPIC --><a href="{log.U_VIEW_TOPIC}">{L_VIEW_TOPIC}</a><!-- IF log.U_VIEWLOGS --> | <!-- ENDIF --><!-- ENDIF --><!-- IF log.U_VIEWLOGS --><a href="{log.U_VIEWLOGS}">{L_VIEW_TOPIC_LOGS}</a><!-- ENDIF --></span></td>
		<!-- ENDIF -->
	</tr>
<!-- BEGINELSE -->
	<tr>
		<td class="row1" colspan="<!-- IF S_TOPIC_ID -->4<!-- ELSE -->5<!-- ENDIF -->" align="center"><span class="gen">{L_NO_ENTRIES}</span></td>
	</tr>
<!-- END log -->
</table>

{S_FORM_TOKEN}
</form>
<div class="tbspace">
<table width="100%" cellspacing="2" cellpadding="2" border="0" align="center">
<tr>
	<td class="nav" align="{S_CONTENT_FLOW_BEGIN}" valign="middle">{PAGE_NUMBER}</td>
	<td align="{S_CONTENT_FLOW_END}" valign="top" nowrap="nowrap"><!-- INCLUDE pagination.html --></td>
</tr>
</table>
</div>
<!-- INCLUDE mcp_footer.html -->