<!-- INCLUDE mcp_header.html -->

<table class="tablebg" width="100%" cellspacing="0">
<tr> 
	<th>{L_WHOIS}</th>
</tr>
<tr>
	<td class="row3h" align="center"><span class="gensmall">{RETURN_POST}</span></td>
</tr>
<tr>
	<td class="row1"><pre>{WHOIS}</pre></td>
</tr>
</table>

<!-- INCLUDE mcp_footer.html -->