<!-- INCLUDE mcp_header.html -->

<form method="post" name="mcp" action="{U_POST_ACTION}">
<table class="tablebg" width="100%" cellspacing="0" border="0" align="center">
<tr>
	<th colspan="2" align="center">{L_SELECT_USER}</th>
</tr>
<tr>
	<td class="row1" width="40%"><b class="gen">{L_FIND_USERNAME}: </b><br /><span class="gensmall">[ <a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a> ]</span></td>
	<td class="row2"><input type="text" class="post" name="username" size="20" /></td>
</tr>
<tr>
	<td class="catb" colspan="2" align="center"><input type="submit" name="submituser" value="{L_SUBMIT}" class="btnmain" /></td>
</tr>
</table>

{S_FORM_TOKEN}
</form>

<table class="tablebg" width="100%" cellspacing="0">
<tr>
	<th colspan="4" align="center">{L_MOST_WARNINGS}</th>
</tr>
<tr>
	<td class="row3h" align="center">&nbsp;{L_USERNAME}&nbsp;</td>
	<td class="row3h" align="center">&nbsp;{L_WARNINGS}&nbsp;</td>
	<td class="row3h" align="center">&nbsp;{L_LATEST_WARNING_TIME}&nbsp;</td>
	<td class="row3h">&nbsp;</td>
</tr>
<!-- BEGIN highest -->
	<tr>
		<td class="row1" width="15%" valign="top"><span class="gen">{highest.USERNAME_FULL}</span></td>
		<td class="row2" width="15%" valign="top"><span class="gen">{highest.WARNINGS}</span></td>
		<td class="row1" width="15%" valign="top"><span class="gen">{highest.WARNING_TIME}</span></td>
		<td class="row2" width="15%" valign="top"><span class="gen"><a href="{highest.U_NOTES}">{L_VIEW_NOTES}</a></span></td>
	</tr>
<!-- BEGINELSE -->
	<tr>
		<td class="row1" colspan="4" align="center"><span class="gen">{L_WARNINGS_ZERO_TOTAL}</span></td>
	</tr>
<!-- END highest -->
</table>

<table class="tablebg" width="100%" cellspacing="0">
<tr>
	<th colspan="4" align="center">{L_LATEST_WARNINGS}</th>
</tr>
<tr>
	<td class="row3h" align="center">&nbsp;{L_USERNAME}&nbsp;</td>
	<td class="row3h" align="center">&nbsp;{L_TIME}&nbsp;</td>
	<td class="row3h" align="center">&nbsp;{L_TOTAL_WARNINGS}&nbsp;</td>
	<td class="row3h">&nbsp;</td>
</tr>
<!-- BEGIN latest -->
	<tr>
		<td class="row1" width="15%" valign="top"><span class="gen">{latest.USERNAME_FULL}</span></td>
		<td class="row2" width="15%" valign="top"><span class="gen">{latest.WARNING_TIME}</span></td>
		<td class="row1" width="15%" valign="top"><span class="gen">{latest.WARNINGS}</span></td>
		<td class="row2" width="15%" valign="top"><span class="gen"><a href="{latest.U_NOTES}">{L_VIEW_NOTES}</a></span></td>
	</tr>
<!-- BEGINELSE -->
	<tr>
		<td class="row1" colspan="4" align="center"><span class="gen">{L_WARNINGS_ZERO_TOTAL}</span></td>
	</tr>
<!-- END latest -->
</table>

<!-- INCLUDE mcp_footer.html -->