<!-- INCLUDE mcp_header.html -->

<table class="tablebg" width="100%" cellspacing="0" cellpadding="4" border="0" align="center">
<tr>
	<th><b>{MESSAGE_TITLE}</b></th>
</tr>
<tr> 
	<td class="row1" align="center"><br /><span class="gen">{MESSAGE_TEXT}</span><br /><br /></td>
</tr>
</table>

<!-- INCLUDE mcp_footer.html -->