<!-- INCLUDE simple_header.html -->

<br clear="all" />

<!-- MSNM info from http://www.cdolive.net/ - doesn't seem to work with MSN Messenger -->

<form method="post" action="{S_IM_ACTION}">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="18" height="18"><img src="{T_THEME_PATH}/images/tl.png" width="18" height="18" alt="" /></td>
    <td height="18" style="background:url('{T_THEME_PATH}/images/tm.png');"></td>
    <td width="18" height="18"><img src="{T_THEME_PATH}/images/tr.png" width="18" height="18" alt="" /></td>
  </tr>
  <tr>
    <td width="18" style="background:url('{T_THEME_PATH}/images/ml.png');"></td>
    <td>
	<table class="tablebg" width="100%" cellspacing="0" cellpadding="4" border="0" align="center">
	<tr>
		<th colspan="2">{L_SEND_IM}</th>
	</tr>
	<tr>
		<td class="row3h" colspan="2"><span class="gensmall">{L_SEND_IM_EXPLAIN}</span></td>
	</tr>
	<tr>
		<td class="row1"><b class="genmed">{L_IM_RECIPIENT}: </b></td>
		<td class="row1"><span class="gen"><b>{USERNAME}</b><!-- IF S_SEND_ICQ or S_SEND_AIM or S_SEND_MSNM or S_NO_SEND_JABBER --> [ {IM_CONTACT} ]<!-- ENDIF --></span> <!-- IF PRESENCE_IMG -->{PRESENCE_IMG}<!-- ENDIF --></td>
	</tr>

	<!-- IF S_SEND_AIM -->
		<tr>
			<td class="row1" colspan="2" align="center"><br /><a class="genmed" href="{U_AIM_CONTACT}">{L_IM_ADD_CONTACT}</a><br /><a class="genmed" href="{U_AIM_MESSAGE}">{L_IM_SEND_MESSAGE}</a><br /><br /><a class="gensmall" href="http://www.aim.com/download.adp">{L_IM_DOWNLOAD_APP}</a> | <a class="gensmall" href="http://aimexpress.oscar.aol.com/aimexpress/launch.adp?Brand=AIM">{L_IM_AIM_EXPRESS}</a> </td>
		</tr>
		<tr>
			<td class="cat" colspan="2" align="center">&nbsp;</td>
		</tr>
	<!-- ENDIF -->

	<!-- IF S_SEND_MSNM -->
		<tr>
			<td class="row1" colspan="2" align="center">
				<object classid="clsid:B69003B3-C55E-4B48-836C-BC5946FC3B28" codetype="application/x-oleobject" id="objMessengerApp" width="0" height="0"></object>
				<script type="text/javascript">
				// <![CDATA[
					var app = document.getElementById('objMessengerApp');
					
					/**
					* Check whether the browser supports this and whether MSNM is connected
					*/
					function msn_supported()
					{
						// Does the browser support the MSNM object?
						if (app.MyStatus) 
						{
							// Is MSNM connected?
							if (app.MyStatus == 1)
							{
								alert('{LA_IM_MSNM_CONNECT}');
								return false;
							}
						}
						else
						{
							alert('{LA_IM_MSNM_BROWSER}');
							return false;
						}
						return true;
					}

					/**
					* Add to your contact list
					*/
					function add_contact(address)
					{
						if (msn_supported())
						{
							// Could return an error while MSNM is connecting, don't want that
							try
							{
								app.AddContact(0, address);
							}
							catch (e)
							{
								return;
							}
						}
					}

					/**
					* Write IM to contact
					*/
					function im_contact(address)
					{
						if (msn_supported())
						{
							// Could return an error while MSNM is connecting, don't want that
							try
							{
								app.InstantMessage(address);
							}
							catch (e)
							{
								return;
							}
						}
					}
				// ]]>
				</script>
	
				<a class="genmed" href="#" onclick="add_contact('{A_IM_CONTACT}'); return false;">{L_IM_ADD_CONTACT}</a><br /><a class="genmed" href="#" onclick="im_contact('{A_IM_CONTACT}'); return false;">{L_IM_SEND_MESSAGE}</a>
			</td>
		</tr>
		<tr>
			<td class="cat" colspan="2" align="center">&nbsp;</td>
		</tr>
	<!-- ENDIF -->

	<!-- IF S_SEND_JABBER -->
		<tr>
			<td class="row1"><b class="genmed">{L_IM_MESSAGE}: </b></td>
			<td class="row1"><textarea class="post" name="message" rows="5" cols="45"></textarea></td>
		</tr>
		<tr>
			<td class="cat" colspan="2" align="center"><input class="btnmain" name="submit" type="submit" value="{L_IM_SEND}" /></td>
		</tr>
	<!-- ENDIF -->

	<!-- IF S_NO_SEND_JABBER -->
		<tr>
			<td class="row1" colspan="2"><span class="genmed">{L_IM_NO_JABBER}</span></td>
		</tr>
	<!-- ENDIF -->

	<!-- IF S_SENT_JABBER -->
		<tr>
			<td class="row1" colspan="2" align="center"><span class="gen">{L_IM_SENT_JABBER}</span></td>
		</tr>
		<tr>
			<td class="cat" colspan="2" align="center"></td>
		</tr>
	<!-- ENDIF -->

	</table>
</td>
    <td width="18" style="background:url('{T_THEME_PATH}/images/mr.png');"></td>
  </tr>
  <tr>
    <td width="18" height="18"><img src="{T_THEME_PATH}/images/bl.png" width="18" height="18" alt="" /></td>
    <td height="18" style="background:url('{T_THEME_PATH}/images/bm.png');"></td>
    <td width="18" height="18"><img src="{T_THEME_PATH}/images/br.png" width="18" height="18" alt="" /></td>
  </tr>
</table>

{S_FORM_TOKEN}
</form>
<div class="tbspace">
<a class="nav" href="#" onclick="window.close(); return false;">{L_CLOSE_WINDOW}</a>
</div>

<!-- INCLUDE simple_footer.html -->