<!-- IF not S_PRIVMSGS -->
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="18" height="18"><img src="{T_THEME_PATH}/images/tl.png" width="18" height="18" alt="" /></td>
    <td height="18" style="background:url('{T_THEME_PATH}/images/tm.png');"></td>
    <td width="18" height="18"><img src="{T_THEME_PATH}/images/tr.png" width="18" height="18" alt="" /></td>
  </tr>
  <tr>
    <td width="18" style="background:url('{T_THEME_PATH}/images/ml.png');"></td>
    <td>
<!-- ENDIF -->

<table class="tablebg" width="100%" cellspacing="0">
<tr> 
	<th>{L_PREVIEW}</th>
</tr>
<tr> 
	<td class="row3h">{MINI_POST_IMG}<span class="postdetails">{L_POSTED}: {POST_DATE} &nbsp;&nbsp;&nbsp; {L_POST_SUBJECT}: {PREVIEW_SUBJECT}</span></td>
</tr>
<!-- IF S_HAS_POLL_OPTIONS -->
	<tr>
		<td class="row2" colspan="2" align="center"><br clear="all" />
			<table cellspacing="0" cellpadding="4" border="0" align="center">
			<tr>
				<td align="center"><span class="gen"><b>{POLL_QUESTION}</b></span><br /><span class="gensmall">{L_POLL_LENGTH}</span></td>
			</tr>
			<tr>
				<td align="center">
					<table cellspacing="0" cellpadding="2" border="0">
					<!-- BEGIN poll_option -->
						<tr>
							<td>
							<!-- IF S_IS_MULTI_CHOICE -->
								<input type="checkbox" class="radio" name="vote_id" value="" />
							<!-- ELSE -->
								<input type="radio" class="radio" name="vote_id" value="" />
							<!-- ENDIF -->
							</td>
							<td><span class="gen">{poll_option.POLL_OPTION_CAPTION}</span></td>
						</tr>
					<!-- END poll_option -->
					</table>
				</td>
			</tr>
			<tr>
				<td align="center"><span class="gensmall">{L_MAX_VOTES}</span></td>
			</tr>
			</table>
		</td>
	</tr>
<!-- ENDIF -->
<tr> 
	<td class="row1">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td><div <!-- IF S_PRIVMSGS -->class="postbody"<!-- ELSE -->class="postbody"<!-- ENDIF -->>{PREVIEW_MESSAGE}</div>
			<!-- IF .attachment -->
				<br clear="all" /><br />

				<table class="attachbg" width="100%" cellspacing="1">
				<tr>
					<td class="attachrow"><b class="genmed">{L_ATTACHMENTS}: </b></td>
				</tr>
				<!-- BEGIN attachment -->
					<tr>
						<td class="row2">{attachment.DISPLAY_ATTACHMENT}</td>
					</tr>
				<!-- END attachment -->
				</table>
			<!-- ENDIF -->
			<!-- IF PREVIEW_SIGNATURE --><span <!-- IF S_PRIVMSGS -->class="postbody"<!-- ELSE -->class="postbody"<!-- ENDIF -->><br />_________________<br />{PREVIEW_SIGNATURE}</span><!-- ENDIF --></td>
		</tr>
		</table>
	</td>
</tr>
</table>

<!-- IF not S_PRIVMSGS -->
</td>
    <td width="18" style="background:url('{T_THEME_PATH}/images/mr.png');"></td>
  </tr>
  <tr>
    <td width="18" height="18"><img src="{T_THEME_PATH}/images/bl.png" width="18" height="18" alt="" /></td>
    <td height="18" style="background:url('{T_THEME_PATH}/images/bm.png');"></td>
    <td width="18" height="18"><img src="{T_THEME_PATH}/images/br.png" width="18" height="18" alt="" /></td>
  </tr>
</table>
<br clear="all" />
<!-- ENDIF -->