<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="18" height="18"><img src="{T_THEME_PATH}/images/tl.png" width="18" height="18" alt="" /></td>
    <td height="18" style="background:url('{T_THEME_PATH}/images/tm.png');"></td>
    <td width="18" height="18"><img src="{T_THEME_PATH}/images/tr.png" width="18" height="18" alt="" /></td>
  </tr>
  <tr>
    <td width="18" style="background:url('{T_THEME_PATH}/images/ml.png');"></td>
    <td>
<table width="100%" cellpadding="0" cellspacing="0" class="tablebg">
<tr>
	<th align="center">{L_TOPIC_REVIEW} - {TOPIC_TITLE}</th>
</tr>
<tr>
	<td class="row1"><div style="overflow: auto; width: 100%; height: 300px;">
      <table class="tablebg" width="100%" cellspacing="0">
        <!-- BEGIN topic_review_row -->
        <!-- IF topic_review_row.S_ROW_COUNT is even -->
        <tr class="row1">
          <!-- ELSE -->
        </tr>
        <tr class="row2">
          <!-- ENDIF -->
          <!-- IF topic_review_row.S_IGNORE_POST -->
				<td colspan="2">{topic_review_row.L_IGNORE_POST}</td>
				<!-- ELSE -->
          <td rowspan="2" align="{S_CONTENT_FLOW_BEGIN}" valign="top"><a id="pr{topic_review_row.POST_ID}"></a>
              <table width="100" cellspacing="0">
                <tr>
                  <td align="center"><b class="postauthor"<!-- IF topic_review_row.POST_AUTHOR_COLOUR --> style="color: {topic_review_row.POST_AUTHOR_COLOUR}"<!-- ENDIF -->>{topic_review_row.POST_AUTHOR}</b></td>
                </tr>
            </table></td>
          <td width="100%"><table width="100%" cellspacing="0">
              <tr>
                <td valign="top" nowrap="nowrap" class="gensmall">
					<!-- IF S_IS_BOT -->
                  {topic_review_row.MINI_POST_IMG}
                    <!-- ELSE -->
                    <a href="{topic_review_row.U_MINI_POST}">{topic_review_row.MINI_POST_IMG}</a>
                    <!-- ENDIF -->
<b>{L_POSTED}:</b> {topic_review_row.POST_DATE}</td>
                <td valign="top" nowrap="nowrap">
				<div class="review-icons">
                  <!-- IF topic_review_row.POSTER_QUOTE and topic_review_row.DECODED_MESSAGE -->
                  <div class="quote-icon"><a href="#" onclick="addquote({topic_review_row.POST_ID},'{topic_review_row.POSTER_QUOTE}'); return false;"><span>{L_REPLY_WITH_QUOTE}</span></a></div>
				  <!-- ENDIF -->
                </div></td>
              </tr>
          </table></td>
        </tr>
        <!-- IF topic_review_row.S_ROW_COUNT is even -->
        <tr class="row1">
          <!-- ELSE -->
        </tr>
        <tr class="row2">
          <!-- ENDIF -->
          <td valign="top"><table width="100%" cellspacing="0">
              <tr>
                <td valign="top"><table width="100%" cellspacing="0" cellpadding="2">
                    <tr>
                      <td><div class="postbody">{topic_review_row.MESSAGE}</div>
                          <!-- IF topic_review_row.S_HAS_ATTACHMENTS -->
                          <br clear="all" />
                        <br />
                          <table class="attachbg" width="100%" cellspacing="1">
                            <tr>
                              <td class="attachrow"><b class="genmed">{L_ATTACHMENTS}: </b></td>
                            </tr>
                            <!-- BEGIN attachment -->
                            <tr>
                              <!-- IF topic_review_row.attachment.S_ROW_COUNT is even -->
                              <td class="row1"><!-- ELSE --></td>
                              <td class="row1"><!-- ENDIF -->
                                {topic_review_row.attachment.DISPLAY_ATTACHMENT}</td>
                            </tr>
                            <!-- END attachment -->
                          </table>
                        <!-- ENDIF -->
                          <!-- IF topic_review_row.POSTER_QUOTE and topic_review_row.DECODED_MESSAGE -->
                          <div id="message_{topic_review_row.POST_ID}" style="display: none;">{topic_review_row.DECODED_MESSAGE}</div>
                        <!-- ENDIF -->                      </td>
                    </tr>
                </table></td>
              </tr>
              <tr>
                <td><table width="100%" cellspacing="0">
					<!-- IF topic_review_row.U_MCP_DETAILS -->                    
					<tr>
                      <td valign="top" height="15" width="100%" align="{S_CONTENT_FLOW_BEGIN}"><span class="gensmall">
                        [ <a href="{topic_review_row.U_MCP_DETAILS}">{L_POST_DETAILS}</a> ]
                      </span></td>
                    </tr>
   					<!-- ENDIF -->
                </table></td>
              </tr>
          </table></td>
          <!-- ENDIF -->
        </tr>
        <tr>
          <td class="spacer" colspan="2"><img src="images/spacer.gif" alt="" width="1" height="1" /></td>
        </tr>
        <!-- END topic_review_row -->
      </table>
	  </div></td>
</tr>
</table>
</td>
    <td width="18" style="background:url('{T_THEME_PATH}/images/mr.png');"></td>
  </tr>
  <tr>
    <td width="18" height="18"><img src="{T_THEME_PATH}/images/bl.png" width="18" height="18" alt="" /></td>
    <td height="18" style="background:url('{T_THEME_PATH}/images/bm.png');"></td>
    <td width="18" height="18"><img src="{T_THEME_PATH}/images/br.png" width="18" height="18" alt="" /></td>
  </tr>
</table>
<br clear="all" />
