<!-- INCLUDE overall_header.html -->
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="18" height="18"><img src="{T_THEME_PATH}/images/tl.png" width="18" height="18" alt="" /></td>
    <td height="18" style="background:url('{T_THEME_PATH}/images/tm.png');"></td>
    <td width="18" height="18"><img src="{T_THEME_PATH}/images/tr.png" width="18" height="18" alt="" /></td>
  </tr>
  <tr>
    <td width="18" style="background:url('{T_THEME_PATH}/images/ml.png');"></td>
    <td>

<table class="tabtable" width="100%" cellspacing="0" cellpadding="0" border="0">
<tr><td>
<div id="tabs">
	<ul>
		<!-- BEGIN t_block1 -->
		<li <!-- IF t_block1.S_SELECTED -->class="activetab"<!-- ENDIF -->><a href="{t_block1.U_TITLE}"><span>{t_block1.L_TITLE}</span></a></li>
		<!-- END t_block1 -->
	</ul>
</div>
</td></tr>
</table>

<!-- IF S_SHOW_PM_BOX and S_POST_ACTION -->
	<form action="{S_POST_ACTION}" method="post" name="postform"{S_FORM_ENCTYPE}>
<!-- ENDIF -->
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tr>
	<td class="tablebg" width="20%" valign="top" style="border-right: 1px solid #a7b4c5">

<!-- IF S_SHOW_PM_BOX and S_POST_ACTION -->

	<table class="tablebg" width="100%" cellspacing="0">
	<tr>
		<th>{L_PM_TO}</th>
	</tr>
	<!-- IF not S_ALLOW_MASS_PM -->
	<tr>
		<td class="row1"><b class="genmed">{L_USERNAME}:</b><br />[ <a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a> ]</td>
	</tr>
	
	<tr>
		<td class="row1"><input class="post" type="text" name="username_list" size="18" value="" />
		&nbsp;<input class="post" type="submit" name="add_to" value="{L_ADD}" /></td>
	</tr>
	<!-- ELSE -->
		<tr>
			<td class="row1"><b class="genmed">{L_USERNAMES}:</b></td>
		</tr>
		<tr>
			<td class="row1"><textarea style="width:97%" class="post" name="username_list" rows="6" cols="16"></textarea><br />
				[ <a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a> ]
			</td>
		</tr>
	<!-- ENDIF -->
	<!-- IF S_GROUP_OPTIONS -->
		<tr>
			<td class="row1"><b class="genmed">{L_USERGROUPS}:</b></td>
		</tr>
		<tr>
			<td class="row2"><select name="group_list[]" multiple="multiple" size="5" style="width:150px">{S_GROUP_OPTIONS}</select></td>
		</tr>
	<!-- ENDIF -->
	<!-- IF S_ALLOW_MASS_PM -->
		<tr>
			<td class="row1"><div style="float: {S_CONTENT_FLOW_BEGIN};"><input class="btnlite pmbutton" type="submit" name="add_bcc" value="{L_ADD_BCC}" /></div><div style="float: {S_CONTENT_FLOW_END};"><input class="btnlite pmbutton" type="submit" name="add_to" value="{L_ADD_TO}" /></div></td>
		</tr>
	<!-- ENDIF -->
	</table>
<!-- ENDIF -->

<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tr><td>
<div id="navigation">
		<!-- IF S_PRIVMSGS -->
			<!-- BEGIN t_block2 -->
				<!-- IF S_PRIVMSGS and not t_block2.S_LAST_ROW -->
				<ul>
					<!-- IF t_block2.S_SELECTED -->
						<li id="active-subsection"><a href="{t_block2.U_TITLE}"><span>{t_block2.L_TITLE}</span></a></li>
					<!-- ELSE -->
						<li><a href="{t_block2.U_TITLE}"><span>{t_block2.L_TITLE}</span></a></li>
					<!-- ENDIF -->
				</ul>
				<!-- ENDIF -->
			<!-- END t_block2 -->

			<hr />
			<!-- BEGIN folder -->
				<!-- IF folder.S_FIRST_ROW --><ul><!-- ENDIF -->
				<!-- IF folder.S_CUR_FOLDER -->
					<li id="active-subsection"><a href="{folder.U_FOLDER}"><!-- IF folder.UNREAD_MESSAGES > 0 --><strong>{folder.FOLDER_NAME} ({folder.UNREAD_MESSAGES})</strong><!-- ELSE -->{folder.FOLDER_NAME}<!-- ENDIF --></a></li>
				<!-- ELSE -->
					<li><a href="{folder.U_FOLDER}"><span><!-- IF folder.UNREAD_MESSAGES > 0 --><strong>{folder.FOLDER_NAME} ({folder.UNREAD_MESSAGES})</strong><!-- ELSE -->{folder.FOLDER_NAME}<!-- ENDIF --></span></a></li>
				<!-- ENDIF -->
				<!-- IF folder.S_LAST_ROW --></ul><!-- ENDIF -->
			<!-- END folder -->
			<hr />
		<!-- ENDIF -->

			<ul>
		<!-- BEGIN t_block2 -->
			<!-- IF (S_PRIVMSGS and t_block2.S_LAST_ROW) or not S_PRIVMSGS -->
				<!-- IF t_block2.S_SELECTED -->
					<li id="active-subsection"><a href="{t_block2.U_TITLE}"><span>{t_block2.L_TITLE}</span></a></li>
				<!-- ELSE -->
					<li><a href="{t_block2.U_TITLE}"><span>{t_block2.L_TITLE}</span></a></li>
				<!-- ENDIF -->
			<!-- ENDIF -->
		<!-- END t_block2 -->
			</ul>
		</div>
</td></tr>
</table>

<!-- IF S_SHOW_COLOUR_LEGEND -->
	<table class="tablebg" width="100%" cellspacing="0" cellpadding="0">
	<tr>
		<th colspan="2">{L_MESSAGE_COLOURS}</th>
	</tr>
	<!-- BEGIN pm_colour_info -->
		<tr>
			<!-- IF not pm_colour_info.IMG -->
				<td class="row1 {pm_colour_info.CLASS}" width="5"><img src="images/spacer.gif" width="5" alt="{pm_colour_info.LANG}" /></td>
			<!-- ELSE -->
				<td class="row1" width="25" align="center">{pm_colour_info.IMG}</td>
			<!-- ENDIF -->
			<td class="row1"><span class="genmed">{pm_colour_info.LANG}</span></td>
		</tr>
	<!-- END pm_colour_info -->
	</table>
<!-- ENDIF -->

<!-- IF S_ZEBRA_ENABLED and S_ZEBRA_FRIENDS_ENABLED -->
	<table class="tablebg" width="100%" cellspacing="0">
	<tr>
		<th>{L_FRIENDS}</th>
	</tr>
	<tr>
		<td class="row1" align="center">
		
			<b class="genmed" style="color:green">{L_FRIENDS_ONLINE}</b>

			<ul class="nav" style="margin: 0; padding: 0; list-style-type: none; line-height: 175%;">
			<!-- BEGIN friends_online -->
				<li>{friends_online.USERNAME_FULL}
				<!-- IF S_SHOW_PM_BOX -->
					&nbsp;[ <input class="btnlite" style="font-size: 90%;" type="submit" name="add_to[{friends_online.USER_ID}]" value="{L_ADD}" /> ]
				<!-- ENDIF -->
				</li>
			<!-- BEGINELSE -->
				<li>{L_NO_FRIENDS_ONLINE}</li>
			<!-- END friends_online -->
			</ul>

			<hr />

			<b class="genmed" style="color:red">{L_FRIENDS_OFFLINE}</b>

			<ul class="nav" style="margin: 0; padding: 0; list-style-type: none; line-height: 175%;">
			<!-- BEGIN friends_offline -->
				<li>{friends_offline.USERNAME_FULL}
				<!-- IF S_SHOW_PM_BOX -->
					&nbsp;[ <input class="btnlite" style="font-size: 90%;" type="submit" name="add_to[{friends_offline.USER_ID}]" value="{L_ADD}" /> ]
				<!-- ENDIF -->
				</li>
			<!-- BEGINELSE -->
				<li>{L_NO_FRIENDS_OFFLINE}</li>
			<!-- END friends_offline -->
			</ul>

		</td>
	</tr>
	</table>
<!-- ENDIF -->

</td>
<td class="tablebg" width="80%" valign="top"><!-- IF not S_PRIVMSGS or S_SHOW_DRAFTS --><form name="ucp" id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}><!-- ENDIF -->
