<!-- INCLUDE ucp_header.html -->

<table class="tablebg" width="100%" cellspacing="0">
<tr>
	<th colspan="4">{L_UCP}</th>
</tr>
<tr>
	<td class="row1" colspan="4" align="center"><span class="genmed">{L_DRAFTS_EXPLAIN}</span></td>
</tr>

<!-- IF ERROR -->
	<tr>
		<td class="row1" colspan="2" align="center"><span class="gensmall error">{ERROR}</span></td>
	</tr>
<!-- ENDIF -->

<!-- IF not S_EDIT_DRAFT -->

	<!-- IF S_DRAFT_ROWS -->
	<tr>
		<th>{L_SAVE_DATE}</th>
		<th>{L_DRAFT_TITLE}</th>
		<th>{L_OPTIONS}</th>
		<th>{L_DELETE}</th>
	</tr>
	<!-- ENDIF -->

	<!-- BEGIN draftrow -->

		<!-- IF draftrow.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->

		<td class="postdetails" style="padding: 4px;" nowrap="nowrap">{draftrow.DATE}</td>
		<td style="padding: 4px;" valign="top" width="100%">
			<p class="topictitle">{draftrow.DRAFT_SUBJECT}</p>
			<!-- IF draftrow.S_LINK_TOPIC --><span class="gensmall">{L_TOPIC}: <a href="{draftrow.U_VIEW}">{draftrow.TITLE}</a></span>
			<!-- ELSEIF draftrow.S_LINK_FORUM --><span class="gensmall">{L_FORUM}: <a href="{draftrow.U_VIEW}">{draftrow.TITLE}</a></span>
			<!-- ELSEIF draftrow.S_LINK_PM --><span class="gensmall">{L_PRIVATE_MESSAGE}</span>
			<!-- ELSE --><span class="gensmall">{L_NO_TOPIC_FORUM}</span><!-- ENDIF -->
		</td>
		<td style="padding: 4px;" align="center" nowrap="nowrap"><span class="genmed"><!-- IF draftrow.U_INSERT --><a href="{draftrow.U_INSERT}">{L_LOAD_DRAFT}</a><br /><!-- ENDIF --><a href="{draftrow.U_VIEW_EDIT}">{L_VIEW_EDIT}</a></span></td>
		<td style="padding: 4px;" align="center"><input type="checkbox" class="radio" name="d[{draftrow.DRAFT_ID}]" /></td>
	</tr>
	<!-- BEGINELSE -->
		<tr>
			<td class="row1" colspan="4" align="center"><b class="genmed">{L_NO_SAVED_DRAFTS}</b></td>
		</tr>
	<!-- END draftrow -->

	<!-- IF S_DRAFT_ROWS -->
		<tr>
			<td class="catb" colspan="4" align="{S_CONTENT_FLOW_END}"><input class="btnlite" type="submit" name="delete" value="{L_DELETE_MARKED}" />&nbsp;</td>
		</tr>
	<!-- ENDIF -->

<!-- ELSEIF S_EDIT_DRAFT -->
	<tr>
		<td class="row1" width="22%"><b class="genmed">{L_SUBJECT}:</b></td>
		<td class="row2"><input class="post" style="width:450px" type="text" name="subject" size="45" maxlength="64" tabindex="2" value="{DRAFT_SUBJECT}" /></td>
	</tr>
	<tr> 
		<td class="row1" width="22%"><b class="genmed">{L_MESSAGE}: </b><br /><span class="gensmall">{L_EDIT_DRAFT_EXPLAIN}</span></td>
		<td class="row2">
			<script type="text/javascript">
			// <![CDATA[
				var form_name = 'ucp';
				var text_name = 'message';
			// ]]>
			</script>
			<table cellspacing="0" cellpadding="2" border="0">
			<!-- INCLUDE posting_buttons.html -->
			<tr>
				<td colspan="9"><textarea class="post" name="message" rows="10" cols="70" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();">{DRAFT_MESSAGE}</textarea></td>
			</tr>
			<tr>
				<td colspan="9">
					<table cellspacing="0" cellpadding="0" border="0" width="100%">
					<tr>
						<td align="{S_CONTENT_FLOW_BEGIN}">
							<script type="text/javascript">
							// <![CDATA[
								colorPalette('h', 6, 5)
							// ]]>
							</script>
						</td>
					</tr>
					</table>
				</td>
			</tr>			
			</table>
		</td>
	</tr>
	<tr class="row1">
		<td colspan="9" align="{S_CONTENT_FLOW_BEGIN}"><p class="topictitle"><a href="{S_UCP_ACTION}">{L_BACK_TO_DRAFTS}</a></p></td>
	</tr>
	<tr>
		<td class="catb" colspan="2" align="center">{S_HIDDEN_FIELDS}<input class="btnmain" type="submit" name="submit" value="{L_SUBMIT}" />&nbsp;&nbsp;<input class="btnlite" type="reset" value="{L_RESET}" name="reset" /></td>
	</tr>
<!-- ENDIF -->
</table>

<!-- INCLUDE ucp_footer.html -->