
<!-- IF not S_VIEW_MESSAGE -->
	{S_FORM_TOKEN}
	</form>
<!-- ENDIF -->

<!-- IF not S_VIEW_MESSAGE -->
<div class="tbspace">
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tr><td align="{S_CONTENT_FLOW_END}">
<b class="gensmall"><a href="#" onclick="marklist('viewfolder', 'marked_msg_id', true); return false;">{L_MARK_ALL}</a> :: <a href="#" onclick="marklist('viewfolder', 'marked_msg_id', false); return false;">{L_UNMARK_ALL}</a></b>
</td></tr>
</table>
</div>
<!-- ENDIF -->

<div class="tbspace">
<table width="100%" cellspacing="0" cellpadding="0">
<tr>
	<td>
		<table border="0" cellspacing="0" cellpadding="0" width="100%">
		<tr>
			<td align="{S_CONTENT_FLOW_BEGIN}" nowrap="nowrap">
				<!-- IF S_VIEW_MESSAGE -->
					<!-- IF not S_SPECIAL_FOLDER -->
						<form name="movepm" method="post" action="{S_PM_ACTION}" style="margin:0px">
							<input type="hidden" name="marked_msg_id[]" value="{MSG_ID}" />
							<input type="hidden" name="cur_folder_id" value="{CUR_FOLDER_ID}" />
							<input type="hidden" name="p" value="{MSG_ID}" />
							<select name="dest_folder">{S_TO_FOLDER_OPTIONS}</select>&nbsp;<input class="btnlite" type="submit" name="move_pm" value="{L_MOVE_TO_FOLDER}" />
						{S_FORM_TOKEN}
						</form>
					<!-- ENDIF -->
				<!-- ENDIF -->
			</td>
			<td align="{S_CONTENT_FLOW_END}"><!-- INCLUDE pagination.html --></td>
		</tr>
		</table>
	</td>
</tr>
</table>
</div>