
<table class="row4" width="100%" cellspacing="0">
<tr>
	<th align="center">{L_MESSAGE_HISTORY}</th>
</tr>
<tr>
	<td><div style="overflow: auto; width: 100%; height: 300px;">

		<table class="tablebg" width="100%" cellspacing="0" cellpadding="0">
	<!-- BEGIN history_row -->
			<!-- IF history_row.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
			<td rowspan="2" align="{S_CONTENT_FLOW_BEGIN}" valign="top"><a name="{history_row.MSG_ID}"></a>
				<table width="100" cellspacing="0">
				<tr>
					<td height="20" align="center"><span class="postauthor">{history_row.MESSAGE_AUTHOR_FULL}</span></td>
				</tr>
				</table>
			</td>
			<td width="100%" height="20">
				<span class="gensmall"><b>{L_PM_SUBJECT}:</b>&nbsp;{history_row.SUBJECT}&nbsp;&nbsp;<b>{L_SENT_AT}:</b>&nbsp;{history_row.SENT_DATE}</span>
			</td>
		</tr>

		<!-- IF history_row.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
			<td valign="top">
				<table width="100%" cellspacing="0">
				<tr>
					<td valign="top">
						<table width="100%" cellspacing="0" cellpadding="0">
						<tr>
							<td><div class="postbody">{history_row.MESSAGE}</div><div id="message_{history_row.MSG_ID}" style="display: none;">{history_row.DECODED_MESSAGE}</div></td>
						</tr>
						</table>
					</td>
				</tr>
				</table>
			</td>
		</tr>

		<!-- IF history_row.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
			<td align="center" class="gensmall"><a href="{history_row.U_VIEW_MESSAGE}">{L_VIEW_PM}</a></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td class="spacer" colspan="2"><img src="images/spacer.gif" alt="" width="1" height="1" /></td>
		</tr>
	<!-- END history_row -->
		</table>
	</div></td>
</tr>
</table>

<br clear="all" />
