<!-- INCLUDE overall_header.html -->

<!-- IF S_FORUM_RULES -->
	<div class="forumrules">
		<!-- IF U_FORUM_RULES -->
			<h3>{L_FORUM_RULES}</h3><br />
			<a href="{U_FORUM_RULES}"><b>{L_FORUM_RULES_LINK}</b></a>
		<!-- ELSE -->
			<h3>{L_FORUM_RULES}</h3><br />
			{FORUM_RULES}
		<!-- ENDIF -->
	</div>

	<br clear="all" />
<!-- ENDIF -->

<!-- IF S_DISPLAY_ACTIVE -->
	<!-- IF S_TOPIC_ICONS --><!-- BEGIN topicrow --><!-- IF topicrow.TOPIC_ICON_IMG --><!-- DEFINE $HAS_ICONS = '1' --><!-- ENDIF --><!-- END topicrow --><!-- ENDIF -->
	<table class="forums" width="100%" cellspacing="0">
	<tr>
		<td class="cat" align="left" height="24" colspan="<!-- IF S_TOPIC_ICONS -->7<!-- ELSE -->6<!-- ENDIF -->"><span class="nav">{L_ACTIVE_TOPICS}</span></td>
	</tr>

	<tr>
		<!-- IF $HAS_ICONS -->
			<td class="row3h" colspan="3">&nbsp;{L_TOPICS}&nbsp;</td>
		<!-- ELSE -->
			<td class="row3h" colspan="2">&nbsp;{L_TOPICS}&nbsp;</td>
		<!-- ENDIF -->
		<td class="row3h" align="center">&nbsp;{L_AUTHOR}&nbsp;</td>
		<td class="row3h" align="center">&nbsp;{L_REPLIES}&nbsp;</td>
		<td class="row3h" align="center">&nbsp;{L_VIEWS}&nbsp;</td>
		<td class="row3h" align="center">&nbsp;{L_LAST_POST}&nbsp;</td>
	</tr>

	<!-- BEGIN topicrow -->

		<tr>
			<td class="forumrow" width="25" align="center">{topicrow.TOPIC_FOLDER_IMG}</td>
			<!-- IF $HAS_ICONS -->
				<td class="forumrow" width="25" align="center"><!-- IF topicrow.TOPIC_ICON_IMG --><img src="{T_ICONS_PATH}{topicrow.TOPIC_ICON_IMG}" width="{topicrow.TOPIC_ICON_IMG_WIDTH}" height="{topicrow.TOPIC_ICON_IMG_HEIGHT}" alt="" title="" /><!-- ENDIF --></td>
			<!-- ENDIF -->
			<td class="row1h">
				<!-- IF topicrow.S_UNREAD_TOPIC --><a href="{topicrow.U_NEWEST_POST}">{NEWEST_POST_IMG}</a><!-- ENDIF -->
				{topicrow.ATTACH_ICON_IMG} <!-- IF topicrow.S_HAS_POLL or topicrow.S_TOPIC_MOVED --><b>{topicrow.TOPIC_TYPE}</b> <!-- ENDIF --><a title="{L_POSTED}: {topicrow.FIRST_POST_TIME}" href="{topicrow.U_VIEW_TOPIC}" class="topictitle<!-- IF topicrow.S_UNREAD_TOPIC --> link-new<!-- ENDIF -->">{topicrow.TOPIC_TITLE}</a>
				<!-- IF topicrow.S_TOPIC_UNAPPROVED or topicrow.S_POSTS_UNAPPROVED -->
					<a href="{topicrow.U_MCP_QUEUE}">{UNAPPROVED_IMG}</a>&nbsp;
				<!-- ENDIF -->
				<!-- IF topicrow.S_TOPIC_REPORTED -->
					<a href="{topicrow.U_MCP_REPORT}">{REPORTED_IMG}</a>&nbsp;
				<!-- ENDIF -->
				<!-- IF topicrow.PAGINATION -->
					<p class="gensmall"> [ {L_GOTO_PAGE}: {topicrow.PAGINATION} ] </p>
				<!-- ENDIF -->
			</td>
			<td class="forumrow" width="130" align="center"><p class="topicauthor">{topicrow.TOPIC_AUTHOR_FULL}</p></td>
			<td class="forumrow" width="50" align="center"><p class="topicdetails">{topicrow.REPLIES}</p></td>
			<td class="forumrow" width="50" align="center"><p class="topicdetails">{topicrow.VIEWS}</p></td>
			<td class="forumrow" width="140" align="center">
				<p class="topicdetails" style="white-space: nowrap;">{topicrow.LAST_POST_TIME}</p>
				<p class="topicdetails">{topicrow.LAST_POST_AUTHOR_FULL}
					<!-- IF not S_IS_BOT --><a href="{topicrow.U_LAST_POST}">{LAST_POST_IMG}</a><!-- ENDIF -->
				</p>
			</td>
		</tr>

	<!-- BEGINELSE -->

		<tr>
			<!-- IF $HAS_ICONS -->
				<td class="row3h" colspan="7" height="30" align="center" valign="middle"><span class="gen"><!-- IF not S_SORT_DAYS -->{L_NO_TOPICS}<!-- ELSE -->{L_NO_TOPICS_TIME_FRAME}<!-- ENDIF --></span></td>
			<!-- ELSE -->
				<td class="row3h" colspan="6" height="30" align="center" valign="middle"><span class="gen"><!-- IF not S_SORT_DAYS -->{L_NO_TOPICS}<!-- ELSE -->{L_NO_TOPICS_TIME_FRAME}<!-- ENDIF --></span></td>
			<!-- ENDIF -->
		</tr>
	<!-- END topicrow -->

	<tr align="center">
		<td class="cat" colspan="<!-- IF S_TOPIC_ICONS -->7<!-- ELSE -->6<!-- ENDIF -->">&nbsp;</td>
	</tr>
	</table>
	
	<br clear="all" />
<!-- ENDIF -->
<!-- IF S_HAS_SUBFORUM -->
	<!-- INCLUDE forumlist_body.html -->
	<br clear="all" />
<!-- ENDIF -->

<!-- IF S_IS_POSTABLE or S_NO_READ_ACCESS -->
	<div id="pageheader">
		<h2><a class="titles" href="{U_VIEW_FORUM}">{FORUM_NAME}</a></h2>

		<!-- IF MODERATORS -->
			<p class="moderators"><!-- IF S_SINGLE_MODERATOR -->{L_MODERATOR}<!-- ELSE -->{L_MODERATORS}<!-- ENDIF -->: {MODERATORS}</p>
		<!-- ENDIF -->
		<!-- IF U_MCP -->
			<p class="linkmcp">[ <a href="{U_MCP}">{L_MCP}</a> ]</p>
		<!-- ENDIF -->
	</div>

	<br clear="all" /><br />
<!-- ENDIF -->

<div id="pagecontent">

<!-- IF S_NO_READ_ACCESS -->
<div class="tbspace">
	<table class="forums" width="100%" cellspacing="0" cellpadding="0">
	<tr>
		<td class="forumrow" height="30" align="center" valign="middle"><span class="gen">{L_NO_READ_ACCESS}</span></td>
	</tr>
	</table>
</div>
	<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->

		<br /><br />

		<form method="post" action="{S_LOGIN_ACTION}">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="18" height="18"><img src="{T_THEME_PATH}/images/tl.png" width="18" height="18" alt="" /></td>
    <td height="18" style="background:url('{T_THEME_PATH}/images/tm.png');"></td>
    <td width="18" height="18"><img src="{T_THEME_PATH}/images/tr.png" width="18" height="18" alt="" /></td>
  </tr>
  <tr>
    <td width="18" style="background:url('{T_THEME_PATH}/images/ml.png');"></td>
    <td>
		<table class="tablebg" width="100%" cellspacing="0">
		<tr>
			<th align="left" class="cat"><h4><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a></h4></th>
		</tr>
		<tr>
			<td class="row1" align="center"><span class="genmed">{L_USERNAME}:</span> <input class="post" type="text" name="username" size="10" />&nbsp; <span class="genmed">{L_PASSWORD}:</span> <input class="post" type="password" name="password" size="10" /><!-- IF S_AUTOLOGIN_ENABLED -->&nbsp; <span class="gensmall">{L_LOG_ME_IN}</span> <input type="checkbox" class="radio" name="autologin" /><!-- ENDIF -->&nbsp; <input type="submit" class="btnmain" name="login" value="{L_LOGIN}" /></td>
		</tr>
		</table>
		</td>
    <td width="18" style="background:url('{T_THEME_PATH}/images/mr.png');"></td>
  </tr>
  <tr>
    <td width="18" height="18"><img src="{T_THEME_PATH}/images/bl.png" width="18" height="18" alt="" /></td>
    <td height="18" style="background:url('{T_THEME_PATH}/images/bm.png');"></td>
    <td width="18" height="18"><img src="{T_THEME_PATH}/images/br.png" width="18" height="18" alt="" /></td>
  </tr>
</table>
	{S_LOGIN_REDIRECT}
  	</form>

	<!-- ENDIF -->

	<br clear="all" />
<!-- ENDIF -->

	<!-- IF S_DISPLAY_POST_INFO or TOTAL_TOPICS -->
<div class="tbspace">
		<table width="100%" cellspacing="0">
		<tr>
			<!-- IF S_DISPLAY_POST_INFO and not S_IS_BOT -->
				<td align="{S_CONTENT_FLOW_BEGIN}" width="100" valign="middle">
        <div class="buttons">
			<div class="<!-- IF S_IS_LOCKED -->locked-icon<!-- ELSE -->post-icon<!-- ENDIF -->"><a href="{U_POST_NEW_TOPIC}" title="<!-- IF S_IS_LOCKED -->{L_FORUM_LOCKED}<!-- ELSE -->{L_POST_TOPIC}<!-- ENDIF -->"><span></span></a></div>
		</div>
                </td>
			<!-- ENDIF -->
			<!-- IF TOTAL_TOPICS -->
				<td class="gensmall" valign="middle" nowrap="nowrap">&nbsp;<b>{PAGE_NUMBER}</b>&nbsp;[ {TOTAL_TOPICS} ]&nbsp;</td>
				<td class="gensmall" align="{S_CONTENT_FLOW_END}" nowrap="nowrap"><!-- INCLUDE pagination.html --></td>
			<!-- ENDIF -->
		</tr>
		</table>
</div>
	<!-- ENDIF -->
<div class="forumbar">
<table width="100%" cellspacing="0">
				<tr>
					<td align="right" valign="middle">&nbsp;<!-- IF S_WATCH_FORUM_LINK and not S_IS_BOT --><a href="{S_WATCH_FORUM_LINK}">{S_WATCH_FORUM_TITLE}</a><!-- ENDIF -->
					<!-- IF not S_IS_BOT and U_MARK_TOPICS -->
					  | <a href="{U_MARK_TOPICS}">{L_MARK_TOPICS_READ}</a>
				    <!-- ENDIF --></td>
				</tr>
</table>
</div>
<!-- IF not S_DISPLAY_ACTIVE and (S_IS_POSTABLE or .topicrow) -->
	<!-- IF S_TOPIC_ICONS --><!-- BEGIN topicrow --><!-- IF topicrow.TOPIC_ICON_IMG --><!-- DEFINE $HAS_ICONS = '1' --><!-- ENDIF --><!-- END topicrow --><!-- ENDIF -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="18" height="18"><img src="{T_THEME_PATH}/images/tl.png" width="18" height="18" alt="" /></td>
    <td height="18" style="background:url('{T_THEME_PATH}/images/tm.png');"></td>
    <td width="18" height="18"><img src="{T_THEME_PATH}/images/tr.png" width="18" height="18" alt="" /></td>
  </tr>
  <tr>
    <td width="18" style="background:url('{T_THEME_PATH}/images/ml.png');"></td>
    <td>
    
    <table width="100%" cellspacing="0">
		<tr>
			<td class="cat" align="left" height="24"><h4><a class="genmedw" href="{U_VIEW_FORUM}">{FORUM_NAME}</a></h4></td>
		</tr>
		</table>
		<table class="forums" width="100%" cellspacing="0">

		<!-- BEGIN topicrow -->

			<!-- IF topicrow.S_TOPIC_TYPE_SWITCH eq 1 -->
				<tr>
                    <!-- IF $HAS_ICONS -->
					<td class="row3h" colspan="3">&nbsp;{L_ANNOUNCEMENTS}&nbsp;</td>
					<!-- ELSE -->
					<td class="row3h" colspan="2">&nbsp;{L_ANNOUNCEMENTS}&nbsp;</td>
					<!-- ENDIF -->
					<td class="row3h" align="center">&nbsp;{L_AUTHOR}&nbsp;</td>
					<td class="row3h" align="center">&nbsp;{L_REPLIES}&nbsp;</td>
					<td class="row3h" align="center">&nbsp;{L_VIEWS}&nbsp;</td>
					<td class="row3h" align="center">&nbsp;{L_LAST_POST}&nbsp;</td>
				</tr>
			<!-- ELSEIF topicrow.S_TOPIC_TYPE_SWITCH eq 0 -->
				<tr>
                    <!-- IF $HAS_ICONS -->
					<td class="row3h" colspan="3">&nbsp;{L_TOPICS}&nbsp;</td>
					<!-- ELSE -->
					<td class="row3h" colspan="2">&nbsp;{L_TOPICS}&nbsp;</td>
					<!-- ENDIF -->
					<td class="row3h" align="center">&nbsp;{L_AUTHOR}&nbsp;</td>
					<td class="row3h" align="center">&nbsp;{L_REPLIES}&nbsp;</td>
					<td class="row3h" align="center">&nbsp;{L_VIEWS}&nbsp;</td>
					<td class="row3h" align="center">&nbsp;{L_LAST_POST}&nbsp;</td>
				</tr>
            <!-- ELSEIF topicrow.S_TOPIC_TYPE and topicrow.S_FIRST_ROW -->
				<tr>
                    <!-- IF $HAS_ICONS -->
					<td class="row3h" colspan="3">&nbsp;{L_TOPICS}&nbsp;</td>
					<!-- ELSE -->
					<td class="row3h" colspan="2">&nbsp;{L_TOPICS}&nbsp;</td>
					<!-- ENDIF -->
					<td class="row3h" align="center">&nbsp;{L_AUTHOR}&nbsp;</td>
					<td class="row3h" align="center">&nbsp;{L_REPLIES}&nbsp;</td>
					<td class="row3h" align="center">&nbsp;{L_VIEWS}&nbsp;</td>
					<td class="row3h" align="center">&nbsp;{L_LAST_POST}&nbsp;</td>
				</tr>
            <!-- ELSEIF not topicrow.S_TOPIC_TYPE and topicrow.S_FIRST_ROW -->
				<tr>
                    <!-- IF $HAS_ICONS -->
					<td class="row3h" colspan="3">&nbsp;{L_TOPICS}&nbsp;</td>
					<!-- ELSE -->
					<td class="row3h" colspan="2">&nbsp;{L_TOPICS}&nbsp;</td>
					<!-- ENDIF -->
					<td class="row3h" align="center">&nbsp;{L_AUTHOR}&nbsp;</td>
					<td class="row3h" align="center">&nbsp;{L_REPLIES}&nbsp;</td>
					<td class="row3h" align="center">&nbsp;{L_VIEWS}&nbsp;</td>
					<td class="row3h" align="center">&nbsp;{L_LAST_POST}&nbsp;</td>
				</tr>
			<!-- ENDIF -->

			<tr>
				<td class="forumrow" width="25" align="center">{topicrow.TOPIC_FOLDER_IMG}</td>
				<!-- IF $HAS_ICONS -->
					<td class="forumrow" width="25" align="center"><!-- IF topicrow.TOPIC_ICON_IMG --><img src="{T_ICONS_PATH}{topicrow.TOPIC_ICON_IMG}" width="{topicrow.TOPIC_ICON_IMG_WIDTH}" height="{topicrow.TOPIC_ICON_IMG_HEIGHT}" alt="" title="" /><!-- ENDIF --></td>
				<!-- ENDIF -->
				<td class="row1h">
					<!-- IF topicrow.S_UNREAD_TOPIC --><a href="{topicrow.U_NEWEST_POST}">{NEWEST_POST_IMG}</a><!-- ENDIF -->
					{topicrow.ATTACH_ICON_IMG} <!-- IF topicrow.S_HAS_POLL or topicrow.S_TOPIC_MOVED --><b>{topicrow.TOPIC_TYPE}</b> <!-- ENDIF --><a title="{L_POSTED}: {topicrow.FIRST_POST_TIME}" href="{topicrow.U_VIEW_TOPIC}" class="topictitle<!-- IF topicrow.S_UNREAD_TOPIC --> link-new<!-- ENDIF -->">{topicrow.TOPIC_TITLE}</a>
					<!-- IF topicrow.S_TOPIC_UNAPPROVED or topicrow.S_POSTS_UNAPPROVED -->
						<a href="{topicrow.U_MCP_QUEUE}">{topicrow.UNAPPROVED_IMG}</a>&nbsp;
					<!-- ENDIF -->
					<!-- IF topicrow.S_TOPIC_REPORTED -->
						<a href="{topicrow.U_MCP_REPORT}">{REPORTED_IMG}</a>&nbsp;
					<!-- ENDIF -->
					<!-- IF topicrow.PAGINATION -->
						<p class="gensmall"> [ {L_GOTO_PAGE}: {topicrow.PAGINATION} ] </p>
					<!-- ENDIF -->
				</td>
				<td class="forumrow" width="130" align="center"><p class="topicauthor">{topicrow.TOPIC_AUTHOR_FULL}</p></td>
				<td class="forumrow" width="50" align="center"><p class="topicdetails">{topicrow.REPLIES}</p></td>
				<td class="forumrow" width="50" align="center"><p class="topicdetails">{topicrow.VIEWS}</p></td>
				<td class="forumrow" width="140" align="center">
					<p class="topicdetails" style="white-space: nowrap;">{topicrow.LAST_POST_TIME}</p>
					<p class="topicdetails">{topicrow.LAST_POST_AUTHOR_FULL}
						<!-- IF not S_IS_BOT --><a href="{topicrow.U_LAST_POST}">{LAST_POST_IMG}</a><!-- ENDIF -->
					</p>
				</td>
			</tr>

		<!-- BEGINELSE -->
			<!-- IF S_IS_POSTABLE -->
			<tr>
				<!-- IF $HAS_ICONS -->
					<td class="forumrow" colspan="7" height="30" align="center" valign="middle"><span class="gen"><!-- IF not S_SORT_DAYS -->{L_NO_TOPICS}<!-- ELSE -->{L_NO_TOPICS_TIME_FRAME}<!-- ENDIF --></span></td>
				<!-- ELSE -->
					<td class="forumrow" colspan="6" height="30" align="center" valign="middle"><span class="gen"><!-- IF not S_SORT_DAYS -->{L_NO_TOPICS}<!-- ELSE -->{L_NO_TOPICS_TIME_FRAME}<!-- ENDIF --></span></td>
				<!-- ENDIF -->
			</tr>
			<!-- ENDIF -->
		<!-- END topicrow -->
<!-- IF not S_IS_BOT -->
		<tr align="center">
			<!-- IF $HAS_ICONS -->
				<td class="catb" colspan="7">
			<!-- ELSE -->
				<td class="catb" colspan="6">
			<!-- ENDIF -->
					<form method="post" action="{S_FORUM_ACTION}"><span class="gensmall">{L_DISPLAY_TOPICS}:</span>&nbsp;{S_SELECT_SORT_DAYS}&nbsp;<span class="gensmall">{L_SORT_BY}</span> {S_SELECT_SORT_KEY} {S_SELECT_SORT_DIR}&nbsp;<input class="btnlite" type="submit" name="sort" value="{L_GO}" /></form>
				</td>
		</tr>
<!-- ENDIF -->
		</table>

      </td>
    <td width="18" style="background:url('{T_THEME_PATH}/images/mr.png');"></td>
  </tr>
  <tr>
    <td width="18" height="18"><img src="{T_THEME_PATH}/images/bl.png" width="18" height="18" alt="" /></td>
    <td height="18" style="background:url('{T_THEME_PATH}/images/bm.png');"></td>
    <td width="18" height="18"><img src="{T_THEME_PATH}/images/br.png" width="18" height="18" alt="" /></td>
  </tr>
</table>
	<!-- ENDIF -->

	<!-- IF S_DISPLAY_POST_INFO or TOTAL_TOPICS -->
<div class="tbspace">
		<table width="100%" cellspacing="0">
		<tr>
			<!-- IF S_DISPLAY_POST_INFO and not S_IS_BOT -->
				<td height="35" align="{S_CONTENT_FLOW_BEGIN}" width="100" valign="middle">
        <div class="buttons">
			<div class="<!-- IF S_IS_LOCKED -->locked-icon<!-- ELSE -->post-icon<!-- ENDIF -->"><a href="{U_POST_NEW_TOPIC}" title="<!-- IF S_IS_LOCKED -->{L_FORUM_LOCKED}<!-- ELSE -->{L_POST_TOPIC}<!-- ENDIF -->"><span></span></a></div>
		</div>
          </td>
	    <!-- ENDIF -->
			<!-- IF TOTAL_TOPICS -->
				<td class="gensmall" valign="middle" nowrap="nowrap">&nbsp;<b>{PAGE_NUMBER}</b>&nbsp;[ {TOTAL_TOPICS} ]&nbsp;</td>
				<td class="gensmall" align="{S_CONTENT_FLOW_END}" nowrap="nowrap"><!-- INCLUDE pagination.html --></td>
			<!-- ENDIF -->
		</tr>
		</table>
</div>
	<!-- ENDIF -->

		<br clear="all" />
</div>

<!-- INCLUDE breadcrumbs.html -->

<!-- IF S_DISPLAY_ONLINE_LIST -->
	<br clear="all" />
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="18" height="18"><img src="{T_THEME_PATH}/images/tl.png" width="18" height="18" alt="" /></td>
    <td height="18" style="background:url('{T_THEME_PATH}/images/tm.png');"></td>
    <td width="18" height="18"><img src="{T_THEME_PATH}/images/tr.png" width="18" height="18" alt="" /></td>
  </tr>
  <tr>
    <td width="18" style="background:url('{T_THEME_PATH}/images/ml.png');"></td>
    <td>
	<table class="tablebg" width="100%" cellspacing="0">
	<tr>
		<td class="catb"><h4>{L_WHO_IS_ONLINE}</h4></td>
	</tr>
	<tr>
		<td class="row1"><p class="gensmall">{LOGGED_IN_USER_LIST}</p></td>
	</tr>
	</table>
    </td>
    <td width="18" style="background:url('{T_THEME_PATH}/images/mr.png');"></td>
  </tr>
  <tr>
    <td width="18" height="18"><img src="{T_THEME_PATH}/images/bl.png" width="18" height="18" alt="" /></td>
    <td height="18" style="background:url('{T_THEME_PATH}/images/bm.png');"></td>
    <td width="18" height="18"><img src="{T_THEME_PATH}/images/br.png" width="18" height="18" alt="" /></td>
  </tr>
</table>
<!-- ENDIF -->

<!-- IF S_DISPLAY_POST_INFO -->
	<br clear="all" />
<div class="tbspace">
	<table width="100%" cellspacing="0">
	<tr>
		<td align="{S_CONTENT_FLOW_BEGIN}" valign="top">
			<table cellspacing="3" cellpadding="0" border="0">
			<tr>
				<td width="20" style="text-align: center;">{FOLDER_NEW_IMG}</td>
				<td class="gensmall">{L_NEW_POSTS}</td>
				<td>&nbsp;&nbsp;</td>
				<td width="20" style="text-align: center;">{FOLDER_IMG}</td>
				<td class="gensmall">{L_NO_NEW_POSTS}</td>
				<td>&nbsp;&nbsp;</td>
				<td width="20" style="text-align: center;">{FOLDER_ANNOUNCE_IMG}</td>
				<td class="gensmall">{L_ICON_ANNOUNCEMENT}</td>
			</tr>
			<tr>
				<td style="text-align: center;">{FOLDER_HOT_NEW_IMG}</td>
				<td class="gensmall">{L_NEW_POSTS_HOT}</td>
				<td>&nbsp;&nbsp;</td>
				<td style="text-align: center;">{FOLDER_HOT_IMG}</td>
				<td class="gensmall">{L_NO_NEW_POSTS_HOT}</td>
				<td>&nbsp;&nbsp;</td>
				<td style="text-align: center;">{FOLDER_STICKY_IMG}</td>
				<td class="gensmall">{L_ICON_STICKY}</td>			
			</tr>
			<tr>
				<td style="text-align: center;">{FOLDER_LOCKED_NEW_IMG}</td>
				<td class="gensmall">{L_NEW_POSTS_LOCKED}</td>
				<td>&nbsp;&nbsp;</td>
				<td style="text-align: center;">{FOLDER_LOCKED_IMG}</td>
				<td class="gensmall">{L_NO_NEW_POSTS_LOCKED}</td>
				<td>&nbsp;&nbsp;</td>
				<td style="text-align: center;">{FOLDER_MOVED_IMG}</td>
				<td class="gensmall">{L_TOPIC_MOVED}</td>
			</tr>
			</table>
		</td>
		<td align="{S_CONTENT_FLOW_END}"><span class="gensmall"><!-- BEGIN rules -->{rules.RULE}<br /><!-- END rules --></span></td>
	</tr>
	</table>
</div>
<!-- ENDIF -->

<br clear="all" />
<div class="tbspace">
<table width="100%" cellspacing="0">
<tr>
	<td><!-- IF S_DISPLAY_SEARCHBOX --><!-- INCLUDE searchbox.html --><!-- ENDIF --></td>
	<td align="{S_CONTENT_FLOW_END}"><!-- INCLUDE jumpbox.html --></td>
</tr>
</table>
</div>
<!-- INCLUDE overall_footer.html -->