
<!-- IF .draftrow -->
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td class="tl"></td>
    <td class="tm"></td>
    <td class="tr"></td>
  </tr>
  <tr>
    <td class="ml"></td>
    <td>
<div class="cat">
	<h3>{L_LOAD_DRAFT}</h3>
</div>
<div class="mainbox-content">

	<p>{L_LOAD_DRAFT_EXPLAIN}</p>

	<ul class="topiclist">
		<li class="header">
			<dl>
				<dt><h5>{L_LOAD_DRAFT}</h5></dt>
				<dd class="posted"><h5>{L_SAVE_DATE}</h5></dd>
			</dl>
		</li>
	</ul>
	<ul class="topiclist<!-- IF not S_PRIVMSGS --> topics<!-- ELSE --> cplist<!-- ENDIF -->">

	<!-- BEGIN draftrow -->
	<li class="row<!-- IF draftrow.S_ROW_COUNT is even --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
		<dl>
			<dt>
				<a href="{draftrow.U_INSERT}" title="{L_LOAD_DRAFT}" class="topictitle">{draftrow.DRAFT_SUBJECT}</a><br />
				<!-- IF not S_PRIVMSGS --><!-- IF draftrow.S_LINK_TOPIC -->{L_TOPIC}: <a href="{draftrow.U_VIEW}">{draftrow.TITLE}</a>
				<!-- ELSEIF draftrow.S_LINK_FORUM -->{L_FORUM}: <a href="{draftrow.U_VIEW}">{draftrow.TITLE}</a>
				<!-- ELSE -->{L_NO_TOPIC_FORUM}<!-- ENDIF --><!-- ENDIF -->
			</dt>
			<dd class="posted">{draftrow.DATE}</dd>
		</dl>
	</li>
	<!-- END draftrow -->

	</ul>

</div>
    	</td>
    <td class="mr"></td>
  </tr>
  <tr>
    <td class="bl"></td>
    <td class="bm"></td>
    <td class="br"></td>
  </tr>
</table>
<!-- ENDIF -->
