<!-- INCLUDE overall_header.html -->

<form id="login_forum" method="post" action="{S_LOGIN_ACTION}">
{S_FORM_TOKEN}
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td class="tl"></td>
    <td class="tm"></td>
    <td class="tr"></td>
  </tr>
  <tr>
    <td class="ml"></td>
    <td>
<div class="cat">
	<h3>{L_LOGIN} {FORUM_NAME}</h3>
</div>
<div class="mainbox-content">

	<p>{L_LOGIN_FORUM}</p>

	<fieldset class="fields2">
	<!-- IF LOGIN_ERROR -->
		<dl>
			<dt>&nbsp;</dt>
			<dd class="error">{LOGIN_ERROR}</dd>
		</dl>
	<!-- ENDIF -->
	<dl>
		<dt><label for="password">{L_PASSWORD}:</label></dt>
		<dd><input class="inputbox narrow" type="password" name="password" id="password" size="25" tabindex="1" /></dd>
	</dl>
	<dl class="fields2">
		<dt>&nbsp;</dt>
		<dd>{S_HIDDEN_FIELDS}<input type="submit" name="login" id="login" class="button1" value="{L_LOGIN}" tabindex="2" /></dd>
	</dl>
	{S_LOGIN_REDIRECT}
	</fieldset>

</div>
    	</td>
    <td class="mr"></td>
  </tr>
  <tr>
    <td class="bl"></td>
    <td class="bm"></td>
    <td class="br"></td>
  </tr>
</table>

</form>

<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->