<!-- INCLUDE mcp_header.html -->

<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td class="tl"></td>
    <td class="tm"></td>
    <td class="tr"></td>
  </tr>
  <tr>
    <td class="ml"></td>
    <td>
<div class="cat">
	<h3>{MESSAGE_TITLE}</h3>
</div>
<div class="mainbox-content" align="center">
	<span class="genlarge">{MESSAGE_TEXT}</span>
</div>
    </td>
    <td class="mr"></td>
  </tr>
  <tr>
    <td class="bl"></td>
    <td class="bm"></td>
    <td class="br"></td>
  </tr>
</table>

<!-- INCLUDE mcp_footer.html -->