<!-- INCLUDE overall_header.html -->

<div class="tbspace">
<h2 class="solo">{PAGE_TITLE}</h2>
</div>

<form method="post" action="{S_MODE_ACTION}">

<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td class="tl"></td>
    <td class="tm"></td>
    <td class="tr"></td>
  </tr>
  <tr>
    <td class="ml"></td>
    <td>
<div class="cat">
	<h3>{PAGE_TITLE}</h3>
</div>

	<table class="table1" cellspacing="0">
	<thead>
	<tr>
		<th class="name row3h"><span class="rank-img">{L_RANK}&nbsp;</span>{L_ADMINISTRATORS}</th>
		<th class="info row3h">{L_PRIMARY_GROUP}</th>
		<th class="info row3h">{L_FORUMS}</th>
	</tr>
	</thead>
	<tbody>
<!-- BEGIN admin -->
	<tr class="bg1">
		<td><!-- IF admin.RANK_IMG --><span class="rank-img">{admin.RANK_IMG}</span><!-- ELSE --><span class="rank-img">{admin.RANK_TITLE}</span><!-- ENDIF -->{admin.USERNAME_FULL}</td>
		<td class="info"><!-- IF admin.U_GROUP -->
			<a<!-- IF admin.GROUP_COLOR --> style="font-weight: bold; color:#{admin.GROUP_COLOR}"<!-- ENDIF --> href="{admin.U_GROUP}">{admin.GROUP_NAME}</a>
			<!-- ELSE -->
				{admin.GROUP_NAME}
			<!-- ENDIF --></td>
		<td class="info">-</td>
	</tr>
<!-- BEGINELSE -->
	<tr class="bg1">
		<td colspan="3"><strong>{L_NO_ADMINISTRATORS}</strong></td>
	</tr>
<!-- END admin -->
	</tbody>
	</table>
	 
	<table class="table1" cellspacing="0">
	<thead>
	<tr>
		<th class="name row3h">{L_MODERATORS}</th>
		<th class="info row3h">&nbsp;</th>
		<th class="info row3h">&nbsp;</th>
	</tr>
	</thead>
	<tbody>
<!-- BEGIN mod -->
	<tr class="bg1">
		<td><!-- IF mod.RANK_IMG --><span class="rank-img">{mod.RANK_IMG}</span><!-- ELSE --><span class="rank-img">{mod.RANK_TITLE}</span><!-- ENDIF -->{mod.USERNAME_FULL}</td>
		<td class="info"><!-- IF mod.U_GROUP -->
			<a<!-- IF mod.GROUP_COLOR --> style="font-weight: bold; color:#{mod.GROUP_COLOR}"<!-- ENDIF --> href="{mod.U_GROUP}">{mod.GROUP_NAME}</a>
			<!-- ELSE -->
				{mod.GROUP_NAME}
			<!-- ENDIF --></td>
		<td class="info"><!-- IF not mod.FORUMS -->{L_ALL_FORUMS}<!-- ELSE --><select style="width: 100%;">{mod.FORUMS}</select><!-- ENDIF --></td>
	</tr>
<!-- BEGINELSE -->
	<tr class="bg1">
		<td colspan="3"><strong>{L_NO_MODERATORS}</strong></td>
	</tr>
<!-- END mod -->
	</tbody>
	</table>
	
    	</td>
    <td class="mr"></td>
  </tr>
  <tr>
    <td class="bl"></td>
    <td class="bm"></td>
    <td class="br"></td>
  </tr>
</table>
	
</form>

<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->