<!-- INCLUDE overall_header.html -->


<form action="{S_PROFILE_ACTION}" method="post" id="resend">

<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td class="tl"></td>
    <td class="tm"></td>
    <td class="tr"></td>
  </tr>
  <tr>
    <td class="ml"></td>
    <td>
<div class="cat">
	<h3>{L_UCP_RESEND}</h3>
</div>
<div class="mainbox-content">

	<div class="content">
		<fieldset>
		<dl>
			<dt><label for="username">{L_USERNAME}:</label></dt>
			<dd><input class="inputbox narrow" type="text" name="username" id="username" size="25" /></dd>
		</dl>
		<dl>
			<dt><label for="email">{L_EMAIL_ADDRESS}:</label><br /><span>{L_EMAIL_REMIND}</span></dt>
			<dd><input class="inputbox narrow" type="text" name="email" id="email" size="25" maxlength="100" /></dd>
		</dl>
		<dl>
			<dt>&nbsp;</dt>
			<dd>{S_HIDDEN_FIELDS}{S_FORM_TOKEN}<input type="submit" name="submit" id="submit" class="button1" value="{L_SUBMIT}" tabindex="2" />&nbsp; <input type="reset" value="{L_RESET}" name="reset" class="button2" /></dd>
		</dl>
		</fieldset>
	</div>

</div>
</td>
    <td class="mr"></td>
  </tr>
  <tr>
    <td class="bl"></td>
    <td class="bm"></td>
    <td class="br"></td>
  </tr>
</table>
</form>

<!-- INCLUDE overall_footer.html -->