<!-- INCLUDE simple_header.html -->

<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td class="tl"></td>
    <td class="tm"></td>
    <td class="tr"></td>
  </tr>
  <tr>
    <td class="ml"></td>
    <td>
<div class="cat">
	<h3>{L_WHOIS}</h3>
</div>
<div class="mainbox-content">
		<pre>{WHOIS}</pre>
</div>
    	</td>
    <td class="mr"></td>
  </tr>
  <tr>
    <td class="bl"></td>
    <td class="bm"></td>
    <td class="br"></td>
  </tr>
</table>
<div class="tbspace">
<a href="#" onclick="window.close(); return false;">{L_CLOSE_WINDOW}</a>
</div>

<!-- INCLUDE simple_footer.html -->