/*  phpBB 3.0 Style Sheet
    --------------------------------------------------------------
	Style name:	AeroBlack
	Based on style:	subSilver (the default phpBB 2 style)
	Original author: subBlue ( http://www.subBlue.com/ )
	
	Copyright 2006 phpBB Group ( http://www.phpbb.com/ )
    --------------------------------------------------------------
*/

/* Layout
 ------------ */
* {
	/* Reset browsers default margin, padding and font sizes */
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;	
}

form { margin: 0px; padding: 0px; }

body {
	/* Text-Sizing with ems: http://www.clagnut.com/blog/348/ */
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	color: #000000;
	background-color: #DFDFDF;
    background-image: url('./images/bg.gif');
	background-repeat: repeat-x;
	background-position: top;
	background-attachment: scroll;
	font-size: 62.5%; /* This sets the default font size to be equivalent to 10px */
	margin: 0 auto;
}

.wrap {
	width: 99%;
	margin: 0 auto;
	min-width: 850px;
	margin-top: 5px;
}

#wrapheader {
	height: auto !important;
	padding: 0;
}

.midlink {
	padding-right: 8px;
}

.logo {
	padding-left: 8px;
	padding-bottom: 5px;
}

#wrapsimple {
	margin: 25px 25px 0 25px;
}

#wrapnav {
	width: 100%;
	margin: 0;
	background-color: #ECECEC;
	border-width: 1px;
	border-style: solid;
	border-color: #a9b3c2;
}

#logodesc {
	background-color: #c1c7d2;
	padding: 0 25px 15px 25px;
}

#menubar {
	margin: 0 25px;
}

#datebar {
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
}

.bc {	
	margin-left: 10px;
	margin-right: 10px;
}

.forumbar {
	margin-left: 10px;
	margin-right: 10px;
}

.tablebg {
	background-color: #eff5fb;
}

#findbar {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

.forumrules {
	margin-left: 10px;
	margin-right: 10px;
	background-color: #eff5fb;
	border-width: 1px;
	border-style: solid;
	border-color: #3a4455;
	padding: 4px;
	font-weight: normal;
	font-size: 1.1em;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

.forumrules h3 {
	color: #AA0000;
	font-size: 1.3em;
}

#pageheader { 
	margin-left: 10px;
	margin-right: 10px;
}

#navbarbg {
	background: url('./images/navm.png') repeat-x;
	height: 24px;
	width: 100%;
}

.navspacel {
	display: block;
	position: relative;
	float: left;
	width: 2px;
	height: 24px;
}

.navspacer {
	display: block;
	position: relative;
	float: right;
	width: 2px;
	height: 24px;
}

a.squarebuttonl {
	background: transparent url('./images/navl.png') no-repeat top left;
	display: block;
	float: left;
	font-size: 10px; /* Change as desired */
	line-height: 16px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 23px) */
	height: 24px; /* Height of button background height */
	padding-left: 8px; /* Width of left menu image */
	text-decoration: none;
}

a.squarebuttonr {
	background: transparent url('./images/navl.png') no-repeat top left;
	display: block;
	float: right;
	font-size: 10px; /* Change as desired */
	line-height: 16px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 23px) */
	height: 24px; /* Height of button background height */
	padding-left: 8px; /* Width of left menu image */
	text-decoration: none;
}

a:link.squarebuttonl, a:visited.squarebuttonl, a:active.squarebuttonl, a:link.squarebuttonr, a:visited.squarebuttonr, a:active.squarebuttonr {
	color: #FFFFFF; /*button text color*/
	text-decoration: none;
}

a.squarebuttonl span, a.squarebuttonr span {
	background: transparent url('./images/navr.png') no-repeat top right;
	display: block;
	padding: 4px 8px 4px 0; /*Set 8px below to match value of 'padding-left' value above*/
}

a.squarebuttonl:hover, a.squarebuttonr:hover { /* Hover state CSS */
	background-position: bottom left;
}

a.squarebuttonl:hover span, a.squarebuttonr:hover span { /* Hover state CSS */
	background-position: bottom right;
	color: #FFFFFF;
}

.buttonwrapper { /* Container you can use to surround a CSS button to clear float */
	overflow: hidden;
	height: 24px;
	width: 100%;
}

#pagecontent { }
#pagefooter { }

#poll { }
#postrow { }
#postdata { }

/* Search box
--------------------------------------------- */
#search-box {
   color: #FFFFFF;
   float: right;
   padding-top: 13px;
   text-align: right;
   white-space: nowrap; /* For Opera */
}

#search-box #keywords {
   width: 121px;
   height: 16px;
   background: transparent url("./images/searchbg.gif");
   background-repeat: no-repeat;
   color: #999999;
   font-size: 11px;
   font-style: italic;
}

#search-box input {
   border: none;
}

/* .button1 style defined later, just a few tweaks for the search button version */
#search-box input.button1 {
   padding: 1px 5px;
}

#search-box li {
   text-align: right;
}

#search-box img {
   vertical-align: middle;
   margin-right: 3px;
}

input.search {
   padding-left: 20px;
   padding-top: 4px;
}

input.forumsearch {
   background-image: url("./images/icon_textbox_search.gif");
   background-repeat: no-repeat;
   background-position: left 1px;
   border-color: #3a4455;
   color: #999999;
   font-size: 11px;
   font-style: italic;
   padding-left: 17px;
   padding-top: 2px;
   padding-bottom: 2px;
}

/*  Text
 --------------------- */
h1 {
	color: white;
	font-family: "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	font-weight: bold;
	font-size: 2.0em;
	text-decoration: none;
}

h6 {
	color: #001c46;
	font-family: "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	font-weight: bold;
	font-size: 2.0em;
	text-decoration: none;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	text-decoration: none;
	line-height: 120%;
}

h3 {
	font-size: 1.3em;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 120%;
}

h4 {
	color: white;
	margin: 0;
	font-size: 1.1em;
	font-weight: bold;
}

h5 {
	color: #001c46;
	margin: 0;
	font-size: 1.1em;
	font-weight: bold;
}

p {
	font-size: 1.1em;
}

p.moderators {
	margin: 0;
	float: left;
	color: black;
	font-weight: bold;
}

.rtl p.moderators {
	float: right;
}

p.linkmcp {
	margin: 0;
	font-size: 1em;
	float: right;
	white-space: nowrap;
}

.rtl p.linkmcp {
	float: left;
}

p.breadcrumbs {
	margin: 0;
	float: left;
	color: black;
	font-weight: bold;
	white-space: normal;
	font-size: 1em;
}

.rtl p.breadcrumbs {
	float: right;
}

p.datetime {
	margin: 0;
	float: right;
	white-space: nowrap;
	font-size: 1em;
}

.rtl p.datetime {
	float: left;
}

p.searchbar {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 2px;
	padding: 2px 0;
	white-space: nowrap;
} 

p.searchbarreg {
	margin: 0;
	float: right;
	white-space: nowrap;
}

.rtl p.searchbarreg {
	float: left;
}

p.forumdesc {
	padding-bottom: 2px;
}

p.topicauthor {
	margin: 1px 0;
}

p.topicdetails {
	margin: 1px 0;
}

.postreported, .postreported a:visited, .postreported a:link, .postreported a:hover, .postreported a:active {
	margin: 1px 0;
	color: red;
	font-weight: bold;
}

.postapprove, .postapprove a:visited, .postapprove a:link, .postapprove a:hover, .postapprove a:active {
	color: green;
	font-weight: bold;
}

.postapprove img, .postreported img {
	vertical-align: bottom;
	padding-top: 5px;
}

.postauthor {
	color: #000000;
}

.postdetails {
	color: #000000;
}

.postlink, a.postlink, a.postlink:visited, a.postlink:link, a.postlink:active, .postlink-local, a.postlink-local, a.postlink-local:visited, a.postlink-local:link, a.postlink-local:active {
   color: #003b93;
   text-decoration: none;
}

a.postlink:hover, a.postlink-local:hover {
   text-decoration: underline;
}

.signature, a.signature:link, a.signature:visited, a.signature:active {
   color: #001c46;
   text-decoration: none;
}

a.signature:hover {
   color: #003b93;
   text-decoration: underline;
}

.postbody {
	font-size: 1.3em;
	line-height: 1.4em;
	font-family: "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;
}

.postbody li, ol, ul {
	margin: 0 0 0 1.5em;
}

.rtl .postbody li, .rtl ol, .rtl ul {
	margin: 0 1.5em 0 0;
}

.posthilit {
	background-color: yellow;
}

.nav, .nav:hover {
	margin: 0;
	color: black;
	font-weight: bold;
}

.pagination {
	color: black;
	font-size: 1em;
	font-weight: bold;
}

.gen {
	margin: 1px 1px;
	font-size: 1.2em;
}

.genmed {
	margin: 1px 1px;
	font-size: 1.1em;
}

a.headw, a.headw:visited, a.headw:link, a.headw:hover, a.headw:active {
	color: #FFFFFF;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
	font-size: 2.0em;
	padding-left: 1px;
}

.genmedw {
	color: #FFFFFF;
	margin: 1px 1px;
	font-size: 1em;
}

a.genmedw, a.genmedw:visited, a.genmedw:link, a.genmedw:hover, a.genmedw:active {
	color: #FFFFFF;
	margin: 1px 1px;
	font-size: 1em;
}

.gensmall {
	margin: 1px 1px;
	font-size: 1em;
}

.genspace {
	margin-left: 10px;
	margin-right: 10px;
	font-size: 1em;
}

.copyright {
	color: #444;
	font-weight: normal;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

#footer {
	text-align: center;
}

.titles {
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.3em;
	text-decoration: none;
}

.error {
	color: #AA0000;
}


/* Tables
 ------------ */
th {
	color: #FFFFFF;
	font-size: 1.1em;
	font-weight: bold;
	background-color: #004799;
	background-image: url('./images/cellpic1.gif');
	white-space: nowrap;
	height: 28px;
	margin: 0;
	padding: 0;
	border: 0;
}

td.profile {
	padding: 4px;
	border-right: 1px solid #a7b4c5;
}

.tbspace {
	padding: 10px;
}

.bcbg {
	background-color: #3a4455;
}

.attachbg {
	background-color: #a7b4c5;
}

.attachrow {
	background-image: url('./images/rowh.gif');
	padding: 4px;
}

.catdiv {
	height: 28px;
	margin: 0;
	padding: 0;
	border: 0;
}

.cat {
	color: #FFFFFF;
	height: 28px;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #001c46;
	background-image: url('./images/cellpic1.gif');
	text-indent: 4px;
}

.catb {
	color: #FFFFFF;
	height: 28px;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #03112f;
	background-image: url('./images/cellpic3.gif');
	text-indent: 4px;
}

.forums {
	background-color: #eff5fb;
	background-image: url("./images/gradient.gif");
	background-repeat: repeat-x;
}

.forumrow {
	padding: 6px;
}

.row1 {
	background-color: #eff5fb;
	padding: 4px;
}

.row1h {
	border: 1px solid transparent;
	padding: 4px;
}

.row1h:hover {
	background-color: #e4effe;
	border: 1px solid #d4e7f9;
}

.row2 {
	background-color: #e4effe;
	padding: 4px;
}

.row3 {
	background-color: #deebfc;
	padding: 4px;
}

.row3h {
	color: #001c46;
	font-weight: bold;
	background-color: #d8e6f6;
	background-image: url('./images/rowh.gif');
	background-repeat: repeat-x;
	background-position: top;
	border-bottom: 1px solid #96c5f9;
	padding: 4px;
}

.row4 {
	background-color: #eff5fb;
}

.tabtable {
	background: url('./images/tabsbg.gif') repeat-x;
	border-bottom: 1px solid #a7b4c5;
}

#tabs {
	line-height: normal;
	margin: 0 0 0 0;
	min-width: 570px;
}

#tabs ul {
	margin:0;
	padding: 0;
	list-style: none;
}

#tabs li {
	display: inline;
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-weight: bold;
}

#tabs a {
	float: left;
	background: url('./images/bg_tabs1.gif') no-repeat 0% -35px;
	margin: 0 0 0 0;
	padding: 0 0 0 5px;
	text-decoration: none;
	position: relative;
	cursor: pointer;
}

#tabs a span {
	float: left;
	display: block;
	background: url('./images/bg_tabs2.gif') no-repeat 100% -35px;
	padding: 6px 10px 7px 5px;
	color: #001c46;
	white-space: nowrap;
}

#tabs a:hover span {
	color: #001c46;
}

#tabs .activetab a {
	background-position: 0 0;
}

#tabs .activetab a span {
	background-position: 100% 0;
	color: #000000;
	padding-right: 22px;
}

#tabs a:hover {
	background-position: 0 -70px;
}

#tabs a:hover span {
	background-position:100% -70px;
}

#tabs .activetab a:hover {
	background-position: 0 0;
}

#tabs .activetab a:hover span {
	color: #000000;
	background-position: 100% 0;
}

#navigation {
	width: 100%;
	padding-top: 15px;
	padding-bottom: 14px;
}

#navigation ul {
	list-style: none;
}

/* Default list state */
#navigation li {
	margin: 0;
	padding: 0;
	font-weight: bold;
	display: inline;
}

/* Link styles for the sub-section links */
#navigation a {
	display: block;
	padding: 3px;
	margin: 0;
	text-decoration: none;
	font-weight: bold;
	color: #001c46;
	background: #eff5fb none repeat-y 100% 0;
	border: 1px solid #eff5fb;
	margin-right: 15px;
}

#navigation a:hover {
	background-color: #e8f1fd;
	background-image: none;
	border: 1px solid #d8e9fa;
}

#navigation #active-subsection a {
	display: block;
	color: #000000;
	background-color: #e0edfb;
	background-image: none;
	border: 1px solid #99cafd;
}

#navigation #active-subsection a:hover {
	color: #000000;
}

.spacer {
	background-color: #a7b4c5;
}

hr {
	border-top: 1px solid #d1d5dc;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	margin-top: 5px;
	margin-bottom: 5px;
}

.legend {
	text-align:center;
	margin: 0 auto;
}

/* Links
 ------------ */
/* Links adjustment to correctly display an order of rtl/ltr mixed content */
.rtl a {
	direction: rtl;
	unicode-bidi: embed;
}
 
a:link, a:visited, a:active {
	color: #001c46;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.link-new, a.link-new:visited { color: #003b93; }
a.link-new:hover, a.link-new:visited:hover { color: #0052ce; }

a.forumlink, a.forumlink:visited, a.forumlink:link, a.forumlink:active {
	font-weight: bold;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 1.3em;
}

a.forumlink:hover {
	color: #003b93;
}

a.topictitle, a.topictitle:visited, a.topictitle:link, a.topictitle:active {
	margin: 1px 0;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.2em;
}

a.topictitle:hover {
	color: #003b93;
}

th a, th a:visited {
	color: #FFFFFF !important;
	text-decoration: none;
}

th a:hover {
	text-decoration: underline;
}


/* Form Elements
 ------------ */
form {
	margin: 0;
	padding: 0;
	border: 0;
}

input {
	background-color: #FAFAFA;
	color: #000000;
	font-family: "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	padding: 1px;
	border: 1px solid #566177;
}

textarea {
	background-color: #FAFAFA;
	color: #000000;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 1.3em; 
	line-height: 1.4em;
	font-weight: normal;
	border: 1px solid #566177;
	padding: 2px;
}

select {
	color: #000000;
	background-color: #FAFAFA;
	font-family: "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	border: 1px solid #3a4455;
	padding: 1px;
}

option {
	padding: 0 1em 0 0;
}

option.disabled-option {
	color: graytext;
}

.rtl option {
	padding: 0 0 0 1em;
}

input.radio {
	margin-top: 2px;
	margin-left: 0px;
	margin-right: 0px;
	border: none;
	background-color: transparent;
}

.post {
	background-color: #FAFAFA;
	background-image: url('./images/bginput.gif');
	background-repeat: repeat-x;
	border-style: solid;
	border-width: 1px;
}

.btnbbcode {
	color: #000000;
	font-weight: normal;
	font-size: 1.1em;
	font-family: "Lucida Grande", Verdana, Helvetica, sans-serif;
	background-image: url("./images/bg_button.gif");
    background-repeat: repeat-x;
    background-position: -0px -0px;
	border: 1px solid #3a4455;
}

.btnbbcode:hover {
    background-position: -0px -17px;
	border: 1px solid #3c68b1;
}

.btnmain {
	color: #000000;
	font-weight: bold;
	background-image: url("./images/bg_button.gif");
    background-repeat: repeat-x;
    background-position: -0px -0px;
	border: 1px solid #3a4455;
	cursor: pointer;
	font-size: 1.1em;
}

.btnmain:hover {
    background-position: -0px -17px;
	border: 1px solid #3c68b1;
}

.btnlite {
	color: #000000;
	font-weight: normal;
	background-image: url("./images/bg_button.gif");
    background-repeat: repeat-x;
    background-position: -0px -0px;
	border: 1px solid #3a4455;
	cursor: pointer;
	font-size: 1.1em;
}

.btnlite:hover {
    background-position: -0px -17px;
	border: 1px solid #3c68b1;
}

.pmbutton  {
    overflow: visible;
}

.btnfile {
	font-weight: normal;
	background-color: #FFFFFF;
	border: 1px solid #3c68b1;
	padding: 1px 5px;
	font-size: 1.1em;
}

.helpline {
	background-color: #e4effe;
	border-style: none;
}


/* BBCode
 ------------ */
.quotetitle {
	margin: 10px 5px 0 5px;
	padding: 1px 0px 1px 5px;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #a7b4c5;
	color: #000000;
	background-image: url('./images/rowh.gif');
	border-bottom: 1px solid #96c5f9;
	font-size: 0.85em;
	font-weight: bold;
}

.attachtitle {
	margin: 10px 5px 0 5px;
	padding: 4px;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #a7b4c5;
	color: #000000;
	background-color: #eff6fe;
	font-size: 0.85em;
	font-weight: bold;
}

.quotetitle .quotetitle {
	font-size: 1em;
}

.quotecontent, .attachcontent {
	margin: 0 5px 10px 5px;
	padding: 1px 5px 1px 5px;
	border-color: #a7b4c5;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.4em;
	font-family: "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;
	background-color: #eff6fe;
	color: #001c46;
}

.attachcontent {
	font-size: 0.85em;
}

.codetitle {
	margin: 10px 5px 0 5px;
	padding: 1px 0px 1px 5px;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #a7b4c5;
	color: #000000;
	background-image: url('./images/rowh.gif');
	border-bottom: 1px solid #96c5f9;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 0.8em;
}

.codecontent code {
   overflow: auto;
   display: block;
   height: auto;
   max-height: 400px;
   white-space: normal;
   margin: 0 5px 10px 5px;
   padding: 1px 5px 1px 5px;
   border-color: #a7b4c5;
   border-width: 0 1px 1px 1px;
   border-style: solid;
   font-weight: normal;
   color: #15A400;
   font-size: 0.85em;
   font-family: Monaco, 'Courier New', monospace;
   background-color: #eff6fe;
}

.syntaxbg {
	color: #FFFFFF;
}

.syntaxcomment {
	color: #FF8000;
}

.syntaxdefault {
	color: #0b00bb;
}

.syntaxhtml {
	color: #000000;
}

.syntaxkeyword {
	color: #007700;
}

.syntaxstring {
	color: #DD0000;
}


/* Private messages
 ------------------ */
.pm_marked_colour {
	background-color: #000000;
}

.pm_replied_colour {
	background-color: #a9b3c2;
}

.pm_friend_colour {
	background-color: #007700;
}

.pm_foe_colour {
	background-color: #DD0000;
}


/* Misc
 ------------ */
img {
	border: none;
}

.nb {
	border: none;
	background: none;
}

.sep {
	color: black;
	background-color: #FFA34F;
}

table.colortable td {
	padding: 0;
}

pre {
	font-size: 1.1em;
	font-family: Monaco, 'Courier New', monospace;
}

.nowrap {
	white-space: nowrap;
}

.username-coloured {
	font-weight: bold;
}

.buttons {
	float: left;
	width: auto;
	height: auto;
}

/* Rollover state */
.buttons div {
	float: left;
	margin: 0 5px 0 0;
	background-position: 0 100%;
}

/* Rolloff state */
.buttons div a {
	display: block;
	width: 100%;
	height: 100%;
	background-position: 0 0;
	position: relative;
	overflow: hidden;
}

.profile-icons {
	float: right;
	width: auto;
	height: auto;
}

/* Rollover state */
.profile-icons div {
	float: right;
	margin: 0 0 5px 5px;
	background-position: 0 100%;
}

/* Rolloff state */
.profile-icons div a {
	display: block;
	width: 100%;
	height: 100%;
	background-position: 0 0;
	position: relative;
	overflow: hidden;
}

.review-icons {
	float: right;
	width: auto;
	height: auto;
}

/* Rollover state */
.review-icons div {
	float: right;
	margin: 5px 5px 5px 0;
	background-position: 0 100%;
}

/* Rolloff state */
.review-icons div a {
	display: block;
	width: 100%;
	height: 100%;
	background-position: 0 0;
	overflow: hidden;
}

/* Hide <a> text and hide off-state image when rolling over (prevents flicker in IE) */
/*.buttons div span		{ display: none; }*/
/*.buttons div a:hover	{ background-image: none; }*/
.buttons div span			{ position: absolute; width: 100%; height: 100%; cursor: pointer;}
.buttons div a:hover span	{ background-position: 0 100%; }

/* Big button images */
.reply-icon span, .qreply-icon span, .post-icon span, .locked-icon span	{ background: transparent none 0 0 no-repeat; }
.pmreply-icon span, .newpm-icon span, .forwardpm-icon span	{ background: none 0 0 no-repeat; }

/* Set big button dimensions */
.buttons div.reply-icon, .buttons div.qreply-icon, .buttons div.post-icon, .buttons div.locked-icon, .buttons div.pmreply-icon, .buttons div.newpm-icon, .buttons div.forwardpm-icon	{ width: 100px; height: 30px; }

/* Hide <a> text and hide off-state image when rolling over (prevents flicker in IE) */
.profile-icons span { display:none; }
.profile-icons a:hover { background: none; }
.review-icons span { display:none; }
.review-icons a:hover { background: none; }

/* Profile & navigation icons */
.quote-icon, .quote-icon a, .report-icon, .report-icon a, .warn-icon, .warn-icon a, .edit-icon, .edit-icon a, .delete-icon, .delete-icon a, .info-icon, .info-icon a	{ background: none top left no-repeat; }

/* Set profile icon dimensions */
.profile-icons div.quote-icon, .review-icons div.quote-icon	{ width: 43px; height: 18px; }
.profile-icons div.report-icon, .profile-icons div.info-icon, .profile-icons div.warn-icon, .review-icons div.report-icon, .review-icons div.info-icon, .review-icons div.warn-icon   { width: 19px; height: 18px; }
.profile-icons div.edit-icon, .review-icons div.edit-icon	{ width: 34px; height: 18px; }
.profile-icons div.delete-icon, .review-icons div.delete-icon	{ width: 17px; height: 18px; }

.reply-icon span	{ background-image: url("{T_IMAGESET_LANG_PATH}/button_topic_reply.png"); }
.qreply-icon span	{ background-image: url("{T_IMAGESET_LANG_PATH}/button_topic_qreply.png"); }
.post-icon span		{ background-image: url("{T_IMAGESET_LANG_PATH}/button_topic_new.png"); }
.locked-icon span	{ background-image: url("{T_IMAGESET_LANG_PATH}/button_topic_locked.png"); }
.pmreply-icon span	{ background-image: url("{T_IMAGESET_LANG_PATH}/button_pm_reply.png"); }
.newpm-icon span 	{ background-image: url("{T_IMAGESET_LANG_PATH}/button_pm_new.png"); }
.forwardpm-icon span	{ background-image: url("{T_IMAGESET_LANG_PATH}/button_pm_forward.png"); }

/* Profile & navigation icons */
.quote-icon, .quote-icon a		{ background-image: url("{T_IMAGESET_LANG_PATH}/icon_post_quote.png"); }

/* Moderator icons */
.report-icon, .report-icon a		{ background-image: url("{T_IMAGESET_LANG_PATH}/icon_post_report.png"); }
.edit-icon, .edit-icon a			{ background-image: url("{T_IMAGESET_LANG_PATH}/icon_post_edit.png"); }
.delete-icon, .delete-icon a		{ background-image: url("{T_IMAGESET_LANG_PATH}/icon_post_delete.png"); }
.info-icon, .info-icon a			{ background-image: url("{T_IMAGESET_LANG_PATH}/icon_post_info.png"); }
.warn-icon, .warn-icon a			{ background-image: url("{T_IMAGESET_LANG_PATH}/icon_user_warn.png"); }
