
/* Layout
 ------------ */

body {
	background-color: #CCE3F3;
    background-image: url("./images/blue/bg.gif");
	background-repeat: repeat-x;
	background-position: top;
	background-attachment: scroll;
}

.midm {
	background: #032942 url("./images/blue/midm.png") repeat-x;
	height: 80px;
}

.midr {
	background: #032942 url("./images/blue/midr.png") no-repeat;
	height: 80px;
	width: 470px;
}

.rtl .midr {
	background: #032942 url("./images/blue/midrrtl.png") no-repeat;
}

.start {
	background-image: url("./images/blue/start.png");
	background-position: -0px -58px;
	background-repeat: no-repeat;
	float: left;
    height: 242px;
    width: 268px;
    z-index: 2;
}

.rtl .start {
	float: right;
}

.startmisc:hover {
	background-image: url("./images/blue/start.png");
	background-position: -0px -300px;
	background-repeat: no-repeat;
}

.navorb {
	background-image: url("./images/blue/start.png");
	background-position: -0px -0px;
	background-repeat: no-repeat;
	float: left;
    height: 29px;
    width: 45px;
    z-index: 3;
}

.navorb:hover {
	background-image: url("./images/blue/start.png");
	background-position: -0px -29px;
	background-repeat: no-repeat;
	float: left;
    height: 29px;
    width: 45px;
    z-index: 3;
}

.navmessages {
	background-image: url("./images/blue/navmessages.png");
	background-position: -0px -0px;
	background-repeat: no-repeat;
	height: 24px;
	width: 21px;
	float: left;
}

.rtl .navmessages {
	float: right;
}

.navmessages:hover {
	background-image: url("./images/blue/navmessages.png");
	background-position: -0px -24px;
	background-repeat: no-repeat;
	height: 24px;
	width: 21px;
	float: left;
}

.rtl .navmessages:hover {
	float: right;
}

.navsettings {
	background-image: url("./images/blue/navsettings.png");
	background-position: -0px -0px;
	background-repeat: no-repeat;
	height: 24px;
	width: 21px;
	float: left;
}

.rtl .navsettings {
	float: right;
}

.navsettings:hover {
	background-image: url("./images/blue/navsettings.png");
	background-position: -0px -24px;
	background-repeat: no-repeat;
	height: 24px;
	width: 21px;
	float: left;
}

.rtl .navsettings:hover {
	float: right;
}

.navbutton {
	background-image: url("./images/blue/navmrbutton.png");
	background-position: -0px -0px;
	background-repeat: no-repeat;
	height: 24px;
	width: 12px;
	float: right;
	position: relative;
}

.rtl .navbutton {
	float: left;
}

.navbutton:hover {
	background-image: url("./images/blue/navmrbutton.png");
	background-position: -0px -24px;
}

#navbarbg {
	background: #06518A url("./images/blue/navm.png") repeat-x;
	height: 24px;
	width: 100%;
}

a.squarebuttonl {
	background: transparent url("./images/blue/navl.png") no-repeat top left;
	display: block;
	float: left;
	font-size: 10px; /* Change as desired */
	line-height: 16px; /* This value + 4px + 4px (top and bottom padding of SPAN) */
	height: 24px; /* Height of button background height */
	text-decoration: none;
}

.rtl a.squarebuttonl {
	float: right;
}

a.squarebuttonl span {
	background: transparent url("./images/blue/navr.png") no-repeat top right;
	display: block;
	padding: 4px 10px 4px 10px;
}

/* Tables
 ------------ */
.cat {
	color: #FFFFFF;
	height: 28px;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #006699;
	background-image: url("./images/blue/cellpic1.gif");
	background-repeat: repeat-x;
	text-indent: 4px;
	z-index: 1;
}

.catb {
	color: #FFFFFF;
	height: 28px;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #031A2F;
	background-image: url("./images/blue/cellpic3.gif");
	background-repeat: repeat-x;
	text-indent: 4px;
	z-index: 1;
}
