
/* Layout
 ------------ */

body {
	background-color: #DCCCF3;
    background-image: url("./images/purple/bg.gif");
	background-repeat: repeat-x;
	background-position: top;
	background-attachment: scroll;
}

.midm {
	background: #150037 url("./images/purple/midm.png") repeat-x;
	height: 80px;
}

.midr {
	background: #150037 url("./images/purple/midr.png") no-repeat;
	height: 80px;
	width: 470px;
}

.rtl .midr {
	background: #150037 url("./images/purple/midrrtl.png") no-repeat;
}

.start {
	background-image: url("./images/purple/start.png");
	background-position: -0px -58px;
	background-repeat: no-repeat;
	float: left;
    height: 242px;
    width: 268px;
    z-index: 2;
}

.rtl .start {
	float: right;
}

.startmisc:hover {
	background-image: url("./images/purple/start.png");
	background-position: -0px -300px;
	background-repeat: no-repeat;
}

.navorb {
	background-image: url("./images/purple/start.png");
	background-position: -0px -0px;
	background-repeat: no-repeat;
	float: left;
    height: 29px;
    width: 45px;
    z-index: 3;
}

.navorb:hover {
	background-image: url("./images/purple/start.png");
	background-position: -0px -29px;
	background-repeat: no-repeat;
	float: left;
    height: 29px;
    width: 45px;
    z-index: 3;
}

.navmessages {
	background-image: url("./images/purple/navmessages.png");
	background-position: -0px -0px;
	background-repeat: no-repeat;
	height: 24px;
	width: 21px;
	float: left;
}

.rtl .navmessages {
	float: right;
}

.navmessages:hover {
	background-image: url("./images/purple/navmessages.png");
	background-position: -0px -24px;
	background-repeat: no-repeat;
	height: 24px;
	width: 21px;
	float: left;
}

.rtl .navmessages:hover {
	float: right;
}

.navsettings {
	background-image: url("./images/purple/navsettings.png");
	background-position: -0px -0px;
	background-repeat: no-repeat;
	height: 24px;
	width: 21px;
	float: left;
}

.rtl .navsettings {
	float: right;
}

.navsettings:hover {
	background-image: url("./images/purple/navsettings.png");
	background-position: -0px -24px;
	background-repeat: no-repeat;
	height: 24px;
	width: 21px;
	float: left;
}

.rtl .navsettings:hover {
	float: right;
}

.navbutton {
	background-image: url("./images/purple/navmrbutton.png");
	background-position: -0px -0px;
	background-repeat: no-repeat;
	height: 24px;
	width: 12px;
	float: right;
	position: relative;
}

.rtl .navbutton {
	float: left;
}

.navbutton:hover {
	background-image: url("./images/purple/navmrbutton.png");
	background-position: -0px -24px;
}

#navbarbg {
	background: #3F068A url("./images/purple/navm.png") repeat-x;
	height: 24px;
	width: 100%;
}

a.squarebuttonl {
	background: transparent url("./images/purple/navl.png") no-repeat top left;
	display: block;
	float: left;
	font-size: 10px; /* Change as desired */
	line-height: 16px; /* This value + 4px + 4px (top and bottom padding of SPAN) */
	height: 24px; /* Height of button background height */
	text-decoration: none;
}

.rtl a.squarebuttonl {
	float: right;
}

a.squarebuttonl span {
	background: transparent url("./images/purple/navr.png") no-repeat top right;
	display: block;
	padding: 4px 10px 4px 10px;
}

/* Tables
 ------------ */
.cat {
	color: #FFFFFF;
	height: 28px;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #170337;
	background-image: url("./images/purple/cellpic1.gif");
	background-repeat: repeat-x;
	text-indent: 4px;
	z-index: 1;
}

.catb {
	color: #FFFFFF;
	height: 28px;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #16032A;
	background-image: url("./images/purple/cellpic3.gif");
	background-repeat: repeat-x;
	text-indent: 4px;
	z-index: 1;
}

.reply-icon span	{ background-image: url("./images/purple/button_topic_reply.png"); }
.qreply-icon span	{ background-image: url("./images/purple/button_topic_qreply.png"); }
.post-icon span		{ background-image: url("./images/purple/button_topic_new.png"); }
.locked-icon span	{ background-image: url("./images/purple/button_topic_locked.png"); }
.pmreply-icon span	{ background-image: url("./images/purple/button_pm_reply.png"); }
.newpm-icon span 	{ background-image: url("./images/purple/button_pm_new.png"); }
.forwardpm-icon span	{ background-image: url("./images/purple/button_pm_forward.png"); }
